[2012-01-30 20:42] aRTee24 opened #4 "Cache connections and/or allow to save connections"
When searching for a connection, then going into one of them to check the details, then using the back-arrow to go back, it is quite possible (since it just happened to me) to accidentally  press the back-arrow twice.
This then requires another lookup, whereas there's no big reason that would be necessary.

The cached results could be shown again, there could be a forward arrow, etc.
This for thos

[2012-03-09 12:54] spuacken opened #5 "Please add late arrivals for DB.de data base"
Please add late arrivals for DB.de data base like they are displayed at the db.de website

[2012-03-19 17:29] #5 closed, assigned to nobody

[2012-10-14 15:36] xlivio opened #6 "Time of departure/arrival bug"
I am using fahrplan for Nokia N9 app.
It seems there is a bug in treating time set. The app sometimes treats the time input as an arrival time though the departure button is highlighted... Would post printscreens as example if this would be possible.
Otherwise great, fast app!
Thanx in advance, xlivio

[2012-10-31 23:38] smurfy opened #10 "Booster support for Symbian and Harmattan"
Add support for booster:

http://kunalmaemo.blogspot.de/2011/10/enabling-booster-support-for-qml.html

[2012-10-31 23:40] smurfy opened #11 "Add support for more resolutions"
Add support for more resolutions in symbian, it could be also nessesary to expose the screen dimentions to qml.

[2012-11-30 14:13] MoritzJT opened #12 "Adapt to new QML components on Symbian Belle FP1 / 2"
As of Belle FP1 Qt Components have changed a little. Some elements have changed sizes or parenting resulting in broken UIs in many QML apps.

See these images: https://www.dropbox.com/sh/ea23g2atdrlj4qh/gedkG1O3f8

The issues are present in both landscape and portrait. I'm using the 808 PureView and N8 in comparison. The images provided are from the 808.

[2012-12-05 22:08] dimpflmoser opened #13 "Add list of intermediate stops of connection (Zwischenhalte)"

[2012-12-05 22:16] dimpflmoser opened #14 "Show arrivel time of connecting trains"
If you need to switch trains at a station it would be nice to know the arrival time of the first train that you can estimate the time to reach the next train.

[2012-12-05 22:20] dimpflmoser opened #15 "Favourites"
It would be nice to keep a list of previous searches or store favourites

[2012-12-07 11:23] magilus opened #16 "house to house/address to address connections"
First I would like to thank you so much for this application. Finally some good working application for public transportation. Thank you so much!

It would be nice if fahrplan would also have a function to calculate house to house connections, so that you just input two addresses and it calculates the best route for it. As part of it, there should then be an option to adjust the walking speed. And

[2012-12-07 11:25] magilus opened #17 "ability to share connections"
Would be nice if one could share connections in plain text format via Whatsapp/Mail/SMS.

[2012-12-07 11:31] magilus opened #18 "set departure time to "now""
if you looked up a later connection, and changed the departure time back then, the time remains as it is. If you want to find a connection departing from "now", you have to manually change the time to the current time. It would be nice if there would be a button "now" somewhere, that sets the time and date to the current conditions.

[2012-12-07 12:52] magilus opened #19 "bahn.de "verbindungsfehler" if connection is kept open / backend broken"
how to reproduce: look up a Connection (a->b), Show Details, leave application open in Background for half an hour. go back, and look up different Details of the same Connection (by going back once).

result: "verbindungsfehler"

you have to go back to the start Screen, look up the Connection again and then you can view different Details. probably some Kind of a timeout on the DB side. if it occur

[2012-12-08 12:45] #11 closed, assigned to nobody

[2012-12-08 18:39] smurfy opened #20 "Create a Fremantle interface based on qml-components"
http://wiki.maemo.org/QtComponents

With the bahn.de backend change the fremantle version of fahrplan is broken.
We need a working frontend (i prefer qml) for fremantle.

[2012-12-08 21:03] #14 closed, assigned to nobody

[2012-12-09 02:13] magilus opened #22 "DB backend - JourneyDetailsResultsPage does not work anymore"
Details to available connections can not be retrieved, DB has probably changed something on their mobile website.
Sadly, Qtdebug does not really work for me, so I have no clue what is causing this.

can also be reproduced with the desktop application. getJourneyDetails returns "No Results"

[2012-12-09 22:38] #19 closed, assigned to nobody

[2012-12-11 22:10] #22 closed, assigned to nobody

[2012-12-11 22:12] smurfy opened #23 "Work on hafas Binary interface"
After adding the new hafas binary interface for bahn.de the interface works again, but its still a bit buggy.

We need to fix that sometime
- station stops are a bit strange, use the id instead (related to #24)
- if there are to many results (after pressing later or earlier to often) something gets confused and the binary parsing breaks
- there is a general issue with parsing the binary file. and

[2012-12-11 22:14] smurfy opened #24 "Change Station from String to own Object"
The Station is currently a String, which worked ok in the past but has its flaws.

This should be changed. Most backend support an ID field and GPS coordinates for a Station.

This means Backend and Frontend changes.

[2012-12-14 22:40] #6 closed, assigned to nobody

[2012-12-15 12:07] BeppoB opened #26 "Dauer (duration) in bahn.de one hour to much"
In bahn.de the duration (Dauer) between Start and Arrival counts one hour to much. If I test it in öbb.at and sbb.ch the duration between start and end station is calculated properly.
Is this just an error just on my Device (N9)? I doesn't have this error with Version 2.0.9, this error appears since Update to Version 2.0.10.

[2012-12-15 12:09] smurfy opened #27 "Symbian Client does not close / restarts automatically"
Got a error report via mail.

[2012-12-15 14:55] #26 closed, assigned to nobody

[2012-12-15 15:42] #18 closed, assigned to nobody

[2012-12-24 12:20] Hobbit13 opened #28 "Trip duration is 1 hour too long"
If I plan a route with bahn.de database, the screen is displayed with the several options for the same route. The departure and arrival time are correct, but the column "dur." shows a time one hour too much!

for example:
Hamburg -> Bad Olderloe, Dec 25 2012, dep 13.05 arr 13.29, dur 1:24, trans 0 (RE21418)

(using 2.0.10 on 808 symbian FP2)

[2012-12-24 12:38] #28 closed, assigned to nobody

[2012-12-26 10:50] #27 closed, assigned to nobody

[2012-12-26 10:59] #10 closed, assigned to nobody

[2012-12-28 22:02] smurfy opened #29 "Comply with the stupid new QA Rules of Nokia or find another way to release fahrplan"
Fahrplan 2.0.11 Release faild QA for Harmatten and probably also fail for Symbian because of new stupid nokia store rules.

It seams i'm not the only one who is pissed off:

http://notyetthere.org/?p=148

I got the same complains.
- Donate button (i replyed to that complaint and waiting for an answer)
- Privacy Police crap (i will write a simple page here at the wiki and link to it)
- Opt out for

[2013-01-09 23:31] m-p-y opened #30 "bahn.de backend is not working for (at least one) particular station"
Thanks a lot for this app! I use it on the N9.

I have an issue with a the station called ,,Inningen''. Independent if arrival or departure station, the search never finishes.

I don't know to help tracking the error, but here are some of my observations:
- changing to öbb.at backend fixes the problem (but this workaround does include tram lines)
- it worked prior to the change made to the mobile

[2013-01-10 21:20] benni0815 opened #31 "Wrong order of results"
When you have received a list of connections tap (multiple times) on "later" until connections for the next day appear.

Result:
Connections for the next day appear on top of the list and not at the bottom.

Tested with version 2.0.11 and the bahn.de backend.

[2013-01-11 15:06] tooka opened #32 "favourites not showing"
Since the new update to version 2.0.11 the favourite stations do not show up. the list is empty. but when i klick on "search" and then back to the "favourites star" they appear again.

[2013-01-11 17:08] #32 closed, assigned to nobody

[2013-01-11 17:38] #29 closed, assigned to smurfy

[2013-01-24 09:58] #31 closed, assigned to nobody

[2013-01-29 06:26] smurfy opened #38 "Add Skånetrafiken backend"
http://www.labs.skanetrafiken.se/

http://translate.google.com/translate?sl=auto&tl=en&js=n&prev=_t&hl=en&ie=UTF-8&eotf=1&u=http%3A%2F%2Fwww.labs.skanetrafiken.se%2F&act=url

Samples:
http://www.labs.skanetrafiken.se/api.asp

After looking at the documentation and the samples, most suff can be implemented.
But i either missed or they missing gps support at least for quering

[2013-01-29 19:03] aarikere opened #39 "Journey start and end time swapped when adding event to calendar"
First of all, thanks a lot for adding Västtrafik support to this app. Works great.

One issue which I have noticed is that when adding a journey to the calendar (Västtrafik journey - don't know about others) the start and end time of the journey is swapped. This means the event is shown as starting at the time when the journey is actually expected to be over. Can be troublesome if one does not not

[2013-01-31 17:31] #39 closed, assigned to nobody

[2013-04-11 16:17] s-a-i-t-a-m opened #47 "Intermediate stops can't be deleted"
I'm using Fahrplan on the Nokia E6 (Belle Refresh) and am quite sure that it's impossible there to delete an intermediate stop. I tried all ways known to mankind and symbian to get rid of a previously entered stop but have been unsuccessful. I am able to switch stations via the menue but removing the 'Zwischenhalt' seems to be impossible.

(Great program anyway, thanks a lot!)

[2013-04-11 18:05] #47 closed, assigned to nobody

[2013-05-15 03:52] drlub1tch opened #51 "Bug with Departuretime"
Hey, at first i have to say i love this app! Still the best Timetableapp for Germany. But in my actual Version (2.0.12 for N8 Symbian Belle) there´s a bug with the departuretime. If i choose "Actual Departures" at 1 pm. the list of connections starts at 2 pm. In fact the results start 1 hour later than i searched. The same if i search for connections with a later starttime.

Maybe its an error wit

[2013-05-15 07:25] smurfy opened #52 "Find a solution for application hang"
Some backends (mainly öbb and possible bahn.de binary) could cause a application hang.

Possible Reasons:
- Parsing of the response (c++)
- Converting response object to listmodel (qml)

Possible Fixes:
- Move parsing code to thread (c++, maybe in parsermanager)
- Create listmodels in c++ (also parsermanager)

[2013-05-19 16:15] #51 closed, assigned to nobody

[2013-05-24 07:55] smurfy opened #55 "sbb.ch seams broken"
sbb.ch interface seams broken

[2013-05-24 08:09] #55 closed, assigned to nobody

[2013-05-28 18:32] smurfy opened #58 "Port to Sailfish OS"
I'm planning to port fahrplan to Sailfish OS too.

https://sailfishos.org/index.html

I'm already support jolla with 100€ and will buy the phone as soon its out.

[2013-06-02 10:25] smurfy opened #62 "Refactor Gui/Backend code to make it stateless and do some other improvements"
Currently the Gui is not statless and has lots of logic shared in all different Gui implementations.

Makeing the Gui and Backend code stateless reduces this logic and probably makeing the Gui faster.
Also porting to other Gui frameworks / devices would be easier.

More infos can be found here #52.

But basically this are the bulitpoints:
- Use QAbstractListModel
- Use getter/setter in the gui
- M

[2013-06-09 19:21] #52 closed, assigned to nobody

[2013-06-11 11:34] antonstallman opened #64 "Unavailable for BlackBerry Q10"
On a BlackBerry Q10 device the fahrplan app is unavailable.

[2013-06-25 07:20] smurfy opened #66 "öbb.at buggs with "wörgl""
Öbb.at has problems with station wörgl

[2013-06-29 20:46] nokmann9 opened #67 "N9: sbb is not working"
Hi. Fahrplan on my N9 is not connecting to sbb.ch anymore. Would be grate to get this fixed again. Thanks

[2013-07-02 06:58] #67 closed, assigned to nobody

[2013-07-10 17:59] mazimmer opened #69 "cannot empty "via Station" field on Nokia N9 (2.0.13)"
After choosing a "via Station" for one connection, there's no way to remove that station again - it can only be replaced by another.

[2013-07-10 18:10] #69 closed, assigned to nobody

[2013-07-11 12:36] #64 closed, assigned to nobody

[2013-07-24 06:29] mazimmer opened #71 "Move "favourite" stars to right for left-hand use"
When using Fahrplan left-handed, trying to select a favourite station often inadvertently "de-favourises" that station instead.
An option to move the favourite star to the right side of the screen, or moving the de-favourisation to a context menu, would help (me) a lot.

[2013-08-22 15:21] #30 closed, assigned to nobody

[2013-08-22 20:22] #66 closed, assigned to nobody

[2013-08-22 20:25] #24 closed, assigned to nobody

[2013-08-22 20:28] #23 closed, assigned to nobody

[2013-08-22 20:29] #12 closed, assigned to nobody

[2013-08-23 07:37] smurfy opened #73 "Combine About qml pages (or text)"
We should combine the About text to one file or get the text from resources/text file,
for easier updating.

@leppa
i also want to add you as one of main authors because you contributed the most (you surpassed me in changed lines/commits), if you like of course.

[2013-08-23 15:03] m-p-y opened #74 "Switch station and Clear station commands broken"
After these nice patches addressing issues with HAFAS binary backend (thanks a ton!) I installed the latest version (commit dcab4eca37) and noticed the following problem on Nokia N9 Harmattan:
1. None of the ,,Switch with {Arrival, Via, Departure} Station'' items in the context menu works; all stations keep their current value.
2. Almost certainly related is the following behavior:
   - Departure

[2013-08-23 18:44] #74 closed, assigned to nobody

[2013-09-04 20:38] smurfy opened #76 "Getting Ubuntu Touch working again"
- Update QML for new models
- Figure out whats the deal with ToolbarActions
- Test QTLocation support
- Backends with no Timetable support seams to break the ui (test after qml is adapted to new models)
- Find a way to implement search/favorites switching in station select
  ....

[2013-09-09 22:29] #76 closed, assigned to smurfy

[2013-09-09 22:32] #71 closed, assigned to nobody

[2013-09-09 22:34] smurfy opened #82 "Discussion about managing settings."
I would like to open a discussion about managing settings within fahrplan and the different guis.

@leppa @mzanetti

Currently there are methods to read and write settings from qml as string. it basically works, but has limitations.
Like the settings getter method is not notifyable (i read up on  this topic and this is currently not possible)

There are some workaround available.
- make a property

[2013-09-09 22:50] smurfy opened #83 "Add Calendar support to ubuntu touch"
The ubuntu touch sdk did not support location and calendar support in the past but support is in the making.

If the sdk supports it we should add both too.

[2013-09-10 12:17] thenktor opened #84 "No results with small DB stations"
Hi,
when I'm trying to search connections containing small railway stations on my Nokia 808 I'm getting this message: "Ein Stationsname ist leider nicht eindeutig". Afterwards there are no results and the circle is endlessly spinning.
When I try to view all connections from the same station I'm getting this error and no result: "Backend hat einen Fehler geworfen: Your input is not valid"

[2013-09-10 17:46] #84 closed, assigned to nobody

[2013-09-15 11:42] Wuestenschiff opened #86 "sbb.ch engine doesn't work anymore on N9"
Search of Stations doesn't return anything. bahn.de works just fine so i think the sbb.ch api may has changed.

[2013-09-15 13:43] #86 closed, assigned to nobody

[2013-09-25 04:27] evansebire opened #90 "getTimeTableForStation does not use current station ID"
Query is wrong, either uses a cached station ID or none at all.
To see fault use SBB parser, search for timetable for Zürich and then change to Bern and the results for Zürich are returned again.

[2013-09-25 10:32] #90 closed, assigned to nobody

[2013-09-25 17:13] smurfy opened #92 "Add error checking for EFA"
For example Ireland:

http://www.journeyplanner.transportforireland.ie/nta/XML_DM_REQUEST?language=en&typeInfo_dm=stopID&coordOutputFormat=WGS84&nameInfo_dm=51010816&itdDateDay=25&itdDateYearMonth=201309&itdTimeHour=19&itdTimeMinute=10&itdTripDateTimeDepArr=dep&deleteAssignedStops_dm=1&useRealtime=1&mode=direct

[2013-10-03 22:36] leppa opened #93 "RFC: Formatting of the text in calendar entries"
I've been planning my trip to Berlin today and found a new format of calendar entries rather unreadable.
#### This is a request for discussion.

Before the a844397235faa0da8d05e3fbb130d23ca14ff031 change we've had the following formatting in the calendar:

[code]

Might not be ideal, but quite readable.
Now we have the following formatting:

[code]

While `departure - train - arrival` order seems

[2013-10-04 17:27] smurfy opened #94 "F*ck Nokia again"
What shall we do, i could host updates on my site or we host them on github.

.deb files for meego should be no problem, but whats with symbian and signing?

Phil

[2013-10-10 20:13] #92 closed, assigned to nobody

[2013-10-17 18:18] #93 closed, assigned to leppa

[2013-10-27 11:41] smurfy opened #96 "2.0.16"

[2013-10-27 11:41] #96 closed, assigned to nobody

[2013-11-26 19:47] #94 closed, assigned to nobody

[2013-12-28 02:05] GlenSydney opened #99 "Sydney public transport information in Fahrplan"
Hello and Happy New Year!

I'm new here so I hope this is the right place to ask this please.

I really appreciate guys like you continuing to support Symbian in spite of Nokia’s best efforts to trash it.

I've recently downloaded Fahrplan on to my Nokia N8 running Belle Refresh.

The app looks great but sadly won’t work for my home town Sydney, Australia, either if I select 'Sydney' or '131500.co

[2013-12-29 05:37] leppa opened #100 "Cascades UI for BlackBerry 10"
I can see Fahrplan featured in the "Best Apps of 2013" list in BlackBerry World (at least, for Germany). This finally motivated me to make a Cascades based UI, which would also solve an issue with entering accented and umlaut characters on QWERTY BlackBerry 10 devices.

A list of major UI parts of Fahrplan:
- [ ] Main Page (including time, date, and train restrictions selectors)
- [x] Station Sear

[2013-12-31 10:39] leppa opened #101 "9292.nl backend"
I visit my friends in Amsterdam from time to time and there's a public transport information system 9292.nl. It seems that it was already reverse engineered:
https://github.com/oleander/9292-nl-api-spec

It returns data in JSON format. Not sure, whether we already have JSON backends, but JSON support is available out of the box in Qt 5, and in Qt 4 it can be easily parsed with `QScriptEngine`.

[2014-01-08 17:27] #99 closed, assigned to nobody

[2014-02-18 23:04] #58 closed, assigned to nobody

[2014-02-18 23:07] #82 closed, assigned to smurfy

[2014-02-18 23:10] #4 closed, assigned to nobody

[2014-03-17 11:15] nuisgenug opened #106 "add a link to view search results on mobile bahn.de website ..."
... would be handy to have a quick look to see if a train is delayed

[2014-04-20 13:17] TMavica opened #107 "Request train plan for Hong Kong"
maybe this siye can help me the train information
www.mtr.com.hk

[2014-05-13 12:36] cnlpete opened #108 "[Sailfish] show selected route on cover"

[2014-05-13 12:37] cnlpete opened #109 "[Sailfish] add "export/save to calendar""

[2014-05-23 00:50] LouisDK1 opened #110 "More "Trains" to select for Rejseplanen.dk backend"
When I select "Trains" I can only select either "All" or "All without ICE".

I would be great if this feature could be extended to support more types of transports eg. " All trains without buses", which I tend to a avoid when traveling near Copenhagen.

[2014-05-23 08:00] leppa opened #111 "Support multiselection in the Trains list"
While Fahrplan currently allows to select only one option in the Trains list, some backends support multiselection for fine-grained control of transport for journey calculation. Would be nice to add such support to Fahrplan. Needs reworking both on UI and backend sides.

[2014-05-27 19:01] #110 closed, assigned to nobody

[2014-06-24 19:22] #101 closed, assigned to nobody

[2014-06-24 19:42] #73 closed, assigned to nobody

[2014-07-20 18:36] W4YNE1324 opened #113 "[Request] Train line number"
Hello. when i used the app with bahn.de, it shows me only the train number. It would be better if instead the train number, the line number would be displayed.

OS: Sailfish.

[2014-07-24 05:10] rubdos opened #114 "[Request] SNCB/NMBS/Belgian railways support"
I know there are api's for the Belgian railways, I'll have a look at it by this evening or tomorrow evening.

EDIT: Wrote this when I was awake for 2 minutes, removed the [Sailfish] in title.

[2014-07-24 13:39] PBMacros opened #115 "Intermediate stops not working bahn.de"
Currently intermediate stops are ignored if using the bahn.de backend.

[2014-07-24 18:20] #115 closed, assigned to nobody

[2014-08-14 18:05] Gerii opened #118 "Öbb.at: Spool: Error reading the spoolfile"
Usually happens when clicking on the earlier/later buttons, but also sometimes when searching. Trying the same action again sometimes works, sometimes doesn't.
No problem with bahn.de backend when searching for the same connections.

[2014-09-18 10:16] rrunner64 opened #119 "[Request] Show direction of S-Bahn, metro, tram, bus etc. in journey details"
If you are in an unfamiliar city and you are using local public transport it would be very helpful to show not only the platform number but also the direction of the vehicle. At least for bahn.de back-end it should work since DB Navigator shows it.

[2014-10-15 17:00] #119 closed, assigned to leppa

[2014-10-16 09:49] leppa opened #121 "Slow parser performance"
There are at least two parsers with an awfully slow performance: HAFAS XML (ÖBB and SBB), and 9292ov.nl. In some cases, parsing may take more than 10 seconds. This should be dealt with.

In first case, `QXmlQuery` is the main reason and it should be replaced with `QXmlStreamReader` where possible.

In second case, Qt 4 version of JSON parser is very slow. In my other project I use `QScriptEngine`

[2014-10-22 19:38] Nokius opened #123 "[SailfishOS] Blank screen on 1.1.0.38"
The App shows a Blank screen on 1.1.0.38
See attachment

![20141022223352](https://cloud.githubusercontent.com/assets/879178/4742918/ea310298-5a22-11e4-8477-4f979fffb8f9.jpg)

[2014-10-24 20:04] #123 closed, assigned to nobody

[2014-10-26 11:37] lewadedun opened #124 "update russian translation"
Hi.
I updated Russian translation on transifex.
Please update fahrplan
thanks ))

[2014-10-27 15:25] #118 closed, assigned to nobody

[2014-10-27 16:17] #121 closed, assigned to nobody

[2014-10-27 16:20] PBMacros opened #126 "[bahn.de] Display cancelled trains"
Please display if a train is canceled.
The information seems to be already there as normally there is displayed "on time" or ".. late",
if a train is cancelled this text is empty.
To find sample trains go here http://reiseauskunft.bahn.de/bin/bhftafel.exe/ enter a big station, e.g. "münchen, hbf" and look for "Fahrt fällt aus" Then seek the corresponding connection in Fahrplan.

[2014-10-27 16:48] #126 closed, assigned to nobody

[2014-10-28 12:49] jukey opened #127 "Empty page displayed after starting the app using the last SailfishOS release (based on Qt 5.2)"
I installed firmware version 1.1.0.38 (and later on hotfix 1.1.0.39 as well) on my Jolla phone.

If I start the app I get an empty app screen withou any form or field. In addition there seems to be no pulley menu as well (not sure if there was one on the startup screen before).

In addition 'Fahrplan' seems to be vanished from the official Jolla Store? It's not listed for me and also the installed

[2014-10-28 12:51] #127 closed, assigned to nobody

[2014-10-31 10:53] lispykid opened #128 "Sailfish OS Update Uitukka (1.1.0.38) not working"
Hi,
I guess you are already aware that Fahrplan is not starting on the latest Sailfish opt-in qt5.2 update. Is there a fix coming? Thanks for a great tool wich I use daily!

[2014-10-31 19:06] #124 closed, assigned to nobody

[2014-11-03 18:01] LinuxCub opened #129 "Walk for %2 min (with rejseplanen.dk on Nokia N9)"
![fahrplan-bug-20141103](https://cloud.githubusercontent.com/assets/9535876/4887297/4b180160-6383-11e4-98fb-366f83f92988.png)

[2014-11-03 20:39] leppa opened #130 "HAFAS Binary: Weird parsing issue on "Earlier" / "Later" journey search"
There seems to be some random issue with parsing "Earlier" / "Later" reply from HAFAS Binary.

Steps to reproduce:
1. Select bahn.de or öbb.at service.
2. Select some long route with lots of changes and search for it.
3. Press "Earlier" or "Later" several times.
4. At some point, some or all entries in search results won't contain list of train types (see the screenshot).
5. Going to journey detai

[2014-11-03 22:39] #129 closed, assigned to leppa

[2014-11-03 22:39] #130 closed, assigned to leppa

[2014-11-04 10:25] leppa opened #131 "Misaligned graphics in journey details view"
Split of bug report #129.

From the screenshot below it's clearly visible that UI elements are misaligned when time is longer than "00:00" (e.g., contains AM/PM). Seems to happen on Nokia N9. Might also be on Symbian, however I checked on BlackBerry 10 and alignment is correct. Sailfish OS and Ubuntu Touch are other platforms to check.

![fahrplan-bug-20141103](https://cloud.githubusercontent.com/

[2014-11-07 20:48] #128 closed, assigned to nobody

[2014-11-07 20:49] #113 closed, assigned to nobody

[2014-11-15 08:47] hallys opened #133 "request please add sl.se (Stockholm) or ResRobot (Sweden) to your app"
Hi
please add sl.se (Stockholm) or ResRobot (Sweden) to your excellent app,miss that on your belle and sailfish app
thanks

[2014-11-20 16:53] smurfy opened #134 "öbb.at backend shows umlauts with wrong charset"
München for example will be displayed incorrectly (tested on sailfish)

[2014-11-21 13:32] #134 closed, assigned to smurfy

[2014-11-22 12:26] smurfy opened #135 "Fahrplan segfault"
Fahrplan seams to segfault if you leave the settingspage before the calendars could be loaded.

Reproduce:
- Open settings
- Press back button
- wait...
- Segfault

The bug is old so i think it has time for 2.0.22 :)

[2014-11-23 14:00] krnekhelesh opened #137 "[Ubuntu Touch] Fahrplan use the sdk's native date time picker"
The Ubuntu SDK provides a date time picker which is well tested and should be used instead of the custom component which is currently being used.

[2014-11-23 14:02] krnekhelesh opened #138 "[Ubuntu Touch] About Page is crammed with information"
The about page shown in the ubuntu touch port is crammed with lots of information like the app version, author, contributors and license. It would better to show this information in a more structured manner.

[2014-11-26 11:30] stmblfrcr opened #141 "[BB10] Text not fully visible on 720x720 resolution devices"
After a long press on Departure, Stoppover or Arrival, the Options to switch Stations are not fully displayed/cut off on my Q5.
![img_20141126_122041](https://cloud.githubusercontent.com/assets/9961488/5200617/e9d0056e-7567-11e4-8304-d76c1dcdd968.png)

[2014-11-26 11:36] stmblfrcr opened #142 "Mixed languages in travel overview"
There are both German and English announcements from DB.
![img_20141126_122136](https://cloud.githubusercontent.com/assets/9961488/5200708/dfd0df42-7568-11e4-8b29-c994da435502.png)

[2014-11-26 13:45] amadjunaid opened #143 "Sailfish OS: There should be an indicator dot"
Indicator dot should be present at the top right of the screen when user selects his journey or departure params so he knows he needs to swipe left to see results

[2014-11-26 14:14] PBMacros opened #144 "History of recent stations"
It would be great to have a third tab among favorites and search which allows to select recently searched stations.

Reasoning:
I often travel and stay a while in a foreign region. Its quite tedious to enter the stations names again and again and remember them all. Having a history of even a few entries would take away this task.

Suggestions:
History size 10 (about one screen) or even optional.

[2014-11-27 17:34] joejoe24 opened #145 "Reverse a search"
Hi.

How often do you travel from one location to another and then, after you had a beer, have to travel back to your start point.
How about add a button that simply reverses the start and end point of the current search?

Using Fahrplan on my BB Z10, love it.
joe

[2014-11-27 19:04] #145 closed, assigned to nobody

[2014-12-13 16:54] gemueselasagne opened #146 "[BB10]: Text not fully visible"
Hi!
Thanks for your effort! Best transport App on BB10 right now!

On Q10 the text in the background in the find-station dialogue doesn't look as it's supposed to. Fixing that would give the app a more professional look!

Thanks

![img_20141213_174730](https://cloud.githubusercontent.com/assets/10177993/5424480/f9575bfe-82f0-11e4-94c0-d60dd5146e9c.png)

[2014-12-13 17:04] gemueselasagne opened #147 "[BB10]: Time format is confusing"
Hey!
Thanks for your work on fahrplan!

For me, the time format is a bit confusing. It's starts with the fact that 12-hours format is used instead of 24-hours format. In most parts of europe 24-hours format is common. The app would be easier to use if you'd switch time formatting to 24-hours standard.
There is also a tiny problem with the german translation. In the results-view it says 'AM' and 'P

[2014-12-15 02:17] smurfy opened #148 "Bahn.de backend is broken (getting error code 12)"
Binary interface seams to have a problem getting errorcode 12

[2014-12-16 01:44] #143 closed, assigned to nobody

[2014-12-16 06:05] jukey opened #149 "Infinite loading after doing a journey request. (SailfishOS)"
At the moment I am able to search for a timetable for a specific station.
If I try the same for a simple journey between two stations I do get the "loading" circle and no result. Both requests are done with a working internewt connection. I also tried to get results using "DB Navigator" at the same time on an iPhone and it worked like a charm.

Maybe something changed at bahn.de side that makes it

[2014-12-16 17:26] #138 closed, assigned to nobody

[2014-12-16 17:32] #149 closed, assigned to nobody

[2014-12-16 20:46] #148 closed, assigned to smurfy

[2015-01-04 17:46] silverhook opened #151 "[resource request] LPP – Ljubljana local bus"
Since there is no application for Ljubljana’s public local transport for MeeGo or Sailfish (I think Trola.si exists for Symbian), it would be great if Fahrplan could also support [LPP][] – either directly or through [Trola.si][].

Trola.si is an OpenData.si project and it has its [own public API][api] as well as its [code available][code] as Free Software.

[LPP]: http://www.lpp.si/en
[Trola.si]:

[2015-01-11 09:51] gitfranz opened #152 "[resource request] Italy train info"
Hi!
I really appreciate your work: your apps is very useful and i would really like to use it in my country (Italy) on my ubuntu touch phone.

Here is the info public website with timetables (it's used right now for android apps):
http://www.viaggiatreno.it

there is no public api :( anyway someone managed to get the data:
https://github.com/sabas/trenitalia
https://sites.google.com/site/gbprogram

[2015-01-21 15:27] kayschubertwebde opened #154 "German translation of the About page"
the About page is not translated to german

[2015-01-21 15:41] kayschubertwebde opened #155 "Button at the bottom is highlighted wrong"
if you are on the second page and goes to the settings and back, the second page is displayed correctly, but the left button at the bottom is highlighted, the right button should be highlighted

this can be observed on Symbian Belle refresh, on Symbian Belle FP2 the right button is highlighted correctly

[2015-01-21 15:45] smurfy commented on #155
Hm, sorry, i don't own a symbian phone.
As far as i know, FP2 is the latest OS version.
Or is that update not available for all devices?

[2015-01-21 15:46] smurfy commented on #154
Hm, i think this one is not really needed.
But with one of the last versions some parts made translateable. I'll check if the rest can be too.

[2015-01-21 16:01] kayschubertwebde opened #156 "Icon should be updated"
the icon is a little outdated, on Symbian it is to big and the rail is not in the middle, on AppList exists a reworked icon, you should ask Sebastian for providing it

[2015-01-21 16:05] leppa commented on #154
@kayschubertwebde, thanks for reporting. Some translations might be outdated because during development translation strings can be added/renamed/removed. There is a [Fahrplan translation project on Transifex](https://www.transifex.com/projects/p/fahrplan/). Feel free to join it if you didn't already. We import updated translations shortly before a new release.

@smurfy, additionally to headers and

[2015-01-21 16:07] smurfy commented on #154
@leppa I think so too, but i'm not sure if it really does, i have some far memory that it did not work in the past. But i will try. I'm atm reviewing the PR's

[2015-01-21 16:11] leppa commented on #156
I'll take care about that as soon as my time permits. I also noticed misalignment of the rail and absence of the gradient on Sybmian, so I started fixing the issue around New Year time. The icon on AppList is actually the one I sent to Sebastian and it's done based on Nokia's templates and guidelines. It's just not completely ready for submission yet and I didn't have time to finish it.

[2015-01-21 17:01] kayschubertwebde commented on #155
on first generation Symbian^3 devices like the N8, Belle refresh is the latest OS version

on last generation Symbian^3 devices like the 808 Pureview, Belle FP2 is the latest OS version

I own both, please feel free to send me test version

[2015-01-27 18:22] #154 closed

[2015-01-27 18:23] smurfy commented on #154
Translated in 4075990144668f6f7c51ec5e02cf1a1e02de2bbf

[2015-01-27 18:24] smurfy commented on #133
Added by @f03el , thank you

[2015-01-27 18:24] #133 closed

[2015-01-27 18:25] #38 closed

[2015-02-06 09:24] mzanetti commented on #137
this has been fixed and realeased

[2015-02-06 09:26] mzanetti commented on #83
Status update:
* Location support is implemented and releaded in fahrplan for Ubuntu by now.
* Calendar is supported by the platform now, but not yet added to the Ubuntu fahrplan port.

[2015-02-06 09:31] mzanetti opened #160 "Backend names should be more descriptive"
The backend selection list is not entirely great imo. The issues are:

* Mix between urls and descriptive names (bahn.de vs SF Bay Area)

* It's not entirely clear which area is supported by a backend. For example I'm in Brussels right now and someone else had to tell me I could use the app with the 9292ov.nl backend around here.

IMO there should be some naming convention like "Area (service)" or

[2015-02-06 11:43] smurfy commented on #160
I'm with you on that one.

[2015-02-06 23:39] smurfy commented on #137
@mzanetti What exactly do you mean? There are still custom date and time picker components in the ubuntus gui folder.

[2015-02-06 23:41] smurfy commented on #83
Updated title to reflect that only calendar support is missing.

[2015-02-07 22:13] mzanetti commented on #137
Hmm... for some reason I thought Nekhelesh fixed this already... looking at the ui I confused them with the upstream pickers.

I've just tried to update to the SDK ones, but seems there is a bug with the time picker. I can't really initialize it properly. So leaving this as is for mow.

[2015-02-07 22:15] smurfy commented on #137
Ok, no problem, as far as i know Nekhelesh  wanted to do it, but i guess he did not have the time yet :).

[2015-02-14 17:00] smurfy commented on #160
Updated all names and normalized the way they are set.
Also added German translation.
Needs some testing in frontends displaying the current selection on the main screen.

[2015-02-14 17:00] #160 closed

[2015-02-14 17:10] smurfy commented on #151
As far as i understand, this is just support for one city in Slovenia right?
The thing is, i would prefer to start with a backend, supporting all of Slovenia first and then move to local transportation. Is there a public transportation site available for all of Slovenia?

[2015-02-14 17:16] smurfy commented on #152
Hi,
as far as i could research there are at least 3 public transports available in italia:

http://www.viaggiatreno.it/
http://www.ntvspa.it/
http://www.trenord.it/EN/

What are the differencies and why should i prefer one before the other?

[2015-02-14 22:55] silverhook commented on #151
Yes, that is correct, only one city and only buses. But…

Regarding trains (Slovenske Železnice), the DB and ÖBB backends are just fine. Also I don’t think the SŽ has a public API. In fact, if you go buy an international ticket at a SŽ office, they open up the DB website to check the route.

Regarding Ljubljana, LPP is the only public transport provider. Ever since we shut down the tram almost a c

[2015-02-19 12:56] mzanetti commented on #160
Tested on Ubuntu, looks ok. The selection list doesn't always fit the full provider url, however, once selected all of them fit into the main view where it shows the currently used backed. All the Country names are visible in the selection list too, which I consider the important part.

[2015-02-19 18:48] tooka opened #161 "[Request] Button to interchange destination and departure station"
Hey, I'm using the fahrplan app (N9 in my case), most of the time to get to work and back. It would be a great help to have a little button at the side or bottom to interchange the destination and departure station quikly, without the need to choose/search them again.
Is it possible with not so much effort?
Greetings
Tom

[2015-02-19 19:44] leppa commented on #161
Long tap on the station and context menu will pop-up. There you can clear current station or swap with another one.

[2015-02-19 19:50] tooka commented on #161
Whaaa, oh man. Thanks leppa. Case closed. Reason: dumb user ;-)

[2015-02-19 19:50] #161 closed

[2015-02-19 22:54] leppa commented on #161
Well, I wouldn't say dumb. It just seems to be not intuitive enough: long tap to get context menu paradigm seems to become less and less common nowadays.

[2015-02-21 18:54] gitfranz commented on #152
Hi, that's correct, there are different companies of public transport in Italy (more of the three above)

In short:
http://www.viaggiatreno.it/
refers to the most important company, with almost all of the local trains and 50% of High-speed trains

http://www.ntvspa.it/
covers for the other 50% high-speed trains in Italy

http://www.trenord.it/EN/
works only in northern Italy, actually their timeta

[2015-02-23 20:15] ServMan commented on #147
This issue has been solved with the release of BlackBerry OS version 10.3.1 on Feb 19, 2015!
Time display is now back to 24 h automatically!

[2015-02-24 12:15] leppa commented on #147
Happy to hear that. It looks like this was indeed an OS bug. I'm closing the bug, but I think we should still think about bringing 12/24H option to settings.

[2015-02-24 12:15] #147 closed

[2015-03-05 20:44] smurfy opened #162 "Parser name to long for some parsers"
Some parser names are to long to be displayed on the main page. (Mvv for example)

Possible solution would be add a new field called "shortParserName" which can be used by the ui to display a shorter parsername variant.

This issue is related to #160

[2015-03-06 19:24] stmblfrcr commented on #161
For me a long tap only gives options to choose or switch stations. Was it possible before to clear a station? This started to gather some negative reviews on BB World as well and should be included in the description maybe. Regards.

[2015-03-06 19:45] leppa commented on #161
@stmblfrcr, do you have device with hardware keyboard? Departure, Via, Arrival and Direction stations all have "Clear station" in context menu. If you have only three items there, did you try scrolling the menu? Unfortunately, I don't have a real device with hardware keyboard / square screen and, as far as I remember, on simulator all four menu items were displayed without the need to scroll.

[2015-03-06 20:54] stmblfrcr commented on #161
Oops...so you can actually scroll and it's just that the bar is not visible. I am on a device with hardware keyboard and it looks like this - https://github.com/smurfy/fahrplan/issues/141 . Thank your very much, works for me.

[2015-03-07 21:40] DeadHorseRiding opened #163 "Deutschland München MVV Backend only missing line only in travel overview"
Tested on N9
![20150306213228](https://cloud.githubusercontent.com/assets/10514536/6543411/cf793e62-c51a-11e4-8566-1538c45c551d.png)
![20150306213302](https://cloud.githubusercontent.com/assets/10514536/6543410/cf7898fe-c51a-11e4-96b0-88086fe952d3.png)

Kalendereintrag korrekt, Reiseübersicht gekürzt (vgl Bilder)

Am Rande: Transifex String 322 Gleis %1 findet hier keine Verwendung, so daß die 1 (

[2015-03-07 22:01] smurfy commented on #163
thanks, will check

[2015-03-08 00:59] smurfy commented on #163
Ok, i can reproduce the error, will have a look at the actual code to reproduce it.

[2015-03-08 17:24] DeadHorseRiding commented on #163
Thanks.

[2015-03-08 20:43] leppa commented on #161
So context menu is cut on the sides for you too? I didn't have time to look into that bug yet, unfortunately.

[2015-03-08 21:51] #156 closed

[2015-03-08 23:07] smurfy commented on #163
Possible fix commited as PR.

[2015-03-09 01:54] smurfy commented on #109
I started messing around with sailfish calendar support, but currently failing because fahrplan does not run as priveleged user. (needed to access the calendar)

[2015-03-09 03:05] smurfy commented on #109
Ok, Calendar support now works with sailfish,
I need to add some switch to enable / disable it based on if i compile it for harbor or openrepro but it works. :D

[2015-03-09 10:37] stmblfrcr commented on #161
Yeah. It's a rather small bug and I'm totally fine with it for the time being. I guess it's pretty understandable with the exotic square aspect ratio.

[2015-03-09 10:37] stmblfrcr commented on #100
Looking forward to it :). Thank you for this.

[2015-03-12 17:13] benni0815 commented on #131
I can reproduce this when I start Fahrplan on my N9 from the terminal with:
[code]

[2015-03-13 16:00] smurfy commented on #131
Did you test it with the fix-163 branch code? I will do a retest.

[2015-03-13 17:42] smurfy opened #170 "Dev Discussion: Timerdelay for station searches"
@benni0815 wanted to clean up and adapted symbian code to harmattan and ubuntu.
I merged the changes because i thought it is a good idea to have the same behavior on all systems.
@mzanetti  raised the issue is the timerdelay really needed?

I dug up the initial commit: bbbd7bcbfc67f505fe6146ad0e97bd03a8484dce

As @leppa mentioned in the commit message, the delay is not needed for harmattan.

I do

[2015-03-13 17:56] #163 closed

[2015-03-13 20:06] #109 closed

[2015-03-13 20:06] smurfy commented on #109
added with PR #168

[2015-03-13 20:27] #162 closed

[2015-03-13 22:18] smurfy commented on #100
@leppa i just tried again, using the bb10 sdk, but i cant get fahrplan to work in the simulator.
It adds the app and tries to launch it, which seams to fail.

    Info: Sending request: LAUNCH
    Info: Action: Launch
    Info: Launching de.smurfy.fahrplan.testDev_fy_fahrplanb13cf425...
   result::39510080
   Info: done

the loading background is very visible for half a second.

[2015-03-13 22:43] smurfy commented on #100
Ok, your cascades branch compiles. (with merged master :D) Will push the branch shortly to my repo

[2015-03-15 05:37] flatterlight opened #174 "public transport for Hamburg (hvv)"
Routing in Hamburg with the app is not the best, so what about a integration of the HVV?

[2015-03-15 10:53] smurfy commented on #174
I will take a look, sadly they don't use efa or hafas. (as their software solution)

They have an api but based on the description they use static data instead of some kind of live fetching.

[2015-03-15 20:38] benni0815 commented on #131
No, I can't, but I will do when the next version is out.

[2015-03-15 22:23] benni0815 commented on #170
@mzanetti I think smurfy expressed my intentions quite well:

-

Didn't commit c00922d2bfecae50aab35da301f50d3c70cdbc14 change that, so that the textChanged signal is emitted on every keypress?
On Ubuntu Touch it is also fired on every keypress.
I would vote for the delay-variant with a delay time of ~500 ms.

[2015-03-16 08:41] cnlpete commented on #109
awesome, can't wait for the next release. Thanks!

[2015-03-16 14:09] leppa commented on #100
So were you able to run it, or just to compile?

It could be that some QML error happens. The problem with the latest Qt Creator and BlackBerry 10 SDK is that you don't get any debug output from the app itself. There is a hacky way by installing own message handler and `printf`'ing debug messages to `stdout`: http://stackoverflow.com/questions/13112383/the-best-way-to-get-blackberry-10-logs

Or yo

[2015-03-16 14:51] smurfy commented on #100
The cascade branch compiles and runs, so i can start working on adding more screens.

I notices the missing output to. i will try slog2info as soon i start working on it.

[2015-03-16 17:09] benni0815 commented on #135
From the QtConcurrentRun - Asynchronous Run doc:

Perhaps disconnecting the signals of ```m_watcher```  will work.

[2015-03-16 20:54] leppa commented on #135
This won't work, because `getCalendarsList()` will still try to access `FahrplanCalendarManager`'s members (which don't exist anymore because manager was deleted). If it's not possible to cancel `QFuture` than the only way to be on a safe side is to `waitForFinished()` in the destructor. This might delay destruction but will avoid a crash.

[2015-03-22 22:20] benni0815 commented on #131
I'm sorry but this didn't work.

![fahrplan](https://cloud.githubusercontent.com/assets/1416976/6771756/27786730-d0e9-11e4-8d3a-cd7f9725ff03.png)

[2015-03-22 22:29] smurfy commented on #131
Strange :( try to fix it with the next release.

[2015-03-22 23:28] beonex opened #178 "Greek Train Provider"
Make available Greek Train providers in Fahrplan like Trainose: http://www.trainose.gr/

This is important for Greek Users of Fahrplan

[2015-03-23 12:05] leppa commented on #131
There is one (hacky) way we could actually align all elements in the list. I used it in https://github.com/leppa/taot/blob/master/qml/symbian/DictionaryDelegate.qml (see lines 178, 191-198). In my case it's done with `Column` but should also be possible with `ListView`.

Basically, you declare a property (e.g., `maxWidth`) in the `ListView`. Then in the delegate you set `width: listView.maxWidth`

[2015-03-23 12:11] DeadHorseRiding opened #179 "v 2.0.24 temporärer Fehler 9380 mit Bahn.de Backend"
Hallo,
sicher nur Backend Fehler, MVV München lieferte zur selben Zeit Ergebnisse, nicht mal eine Stunde später ging auch Bahn.de wieder.
![2015-03-23_08-36-41](https://cloud.githubusercontent.com/assets/10514536/6779588/e65692ca-d15d-11e4-9184-028446d63ddd.png)

DAnke auch fürs neue Update auf 2.0.25!

Gruß aus München

[2015-03-23 12:21] smurfy commented on #179
i need to check what the 9380 code means

[2015-03-23 12:28] leppa commented on #179
It seems to mean *Dep./Arr./Intermed. or equivalent station defined more than once*.

[2015-03-23 12:30] smurfy commented on #179
Ok, you can see "something" via "Unterföhring" to "Unterföhring" which is exactly what your error message is.

[2015-03-23 13:10] leppa commented on #179
Nice catch. Then we should add this error description to `ParserHafasBinary::errorString()`.

[2015-03-24 21:41] #141 closed

[2015-03-25 09:02] smurfy opened #180 "SailfishOS - Add Calendar crashes"
Fahrplan currently using the "defaultCalendar" to add its entries to.
This has problems, after a reboot it is possible that a fault defaultCalendar gets returned.

Possible solution:

Like in harmattan / other platforms let the user choose to which calendar the entry should be added
(settings)

[2015-03-26 10:47] leppa commented on #141
Hi @stmblfrcr,
Could check the latest update, please, and tell me if it resolves the issue? Version 2.0.25 was approved in BlackBerry World today.

[2015-03-26 12:26] smurfy opened #181 "SailfishOS - Harbour fails"
Currently my store push of 2.0.25 failed due to the .desktop file.
I need to use two different .desktop files. One for openrepos and one for harbour.

[2015-03-29 11:26] stmblfrcr commented on #141
Sorry, just read your post. Yeah - it's certainly resolved now! It actually took some getting used to NOT having the giant UI elements anymore :-). https://github.com/smurfy/fahrplan/issues/146 is fixed now as well.
![Uploading IMG_20150329_131218.png . . .]()
![Uploading IMG_20150329_131528.png . . .]()
![Uploading IMG_20150329_131437.png . . .]()
![Uploading IMG_20150329_131346.png . . .]()

Tha

[2015-03-30 18:07] #181 closed

[2015-03-31 06:01] leppa commented on #141
Great to hear that. Still seems to be cut a little bit on the sides, but much better now.

Regarding the smaller elements: are they big enough to be readable? Unfortunately, DPI related issues are not something you can easily test on the simulator.

[2015-03-31 14:05] stmblfrcr commented on #141
I dusted off my N9 for comparison and the font seems slightly smaller on BlackBerry (minus 0.5/1) but better readable and sharper so that's alright I guess. Although the blue flip switches still seem to be improperly big (at least a little).

[2015-04-02 16:02] leppa commented on #141
Thanks a lot for your tests!
Symbian components were never meant for HiDPI screens, so I assume that there are still some visibility issues until #100 is done.

[2015-04-02 17:49] TuxNix opened #183 "Save Station"
It would be nice, if this app could save some stations often used.

[2015-04-02 17:54] TuxNix commented on #183
I

[2015-04-02 17:58] TuxNix commented on #183
It would be nice, if this app could save some statons often used.

[2015-04-02 19:19] leppa commented on #183
Thank you for your suggestion. Sounds like a duplicate of #144. Is that something you suggest?

[2015-04-02 19:40] TuxNix commented on #183
Yes Leppa, it is the same idea.

[2015-04-02 21:49] stmblfrcr commented on #141
Sure thing! I saw you put TAO Translator in Beta Zone (great btw) as a Cascades app.

[2015-04-03 07:06] #183 closed

[2015-04-03 07:07] smurfy commented on #183
Ok, so i close this, as duplicate :)
But yea, such a feature would be great.

[2015-04-08 07:25] mzanetti opened #184 "German name "fahrplan" makes non-german people think this is not for them"
In the Ubuntu store I see an increasing amount of train schedule apps popping up for various countries. I believe this is because the name "fahrplan" suggests this app would only work in germany. Besides the obvious solution here, which is to change the name but might not be wanted at this point any more, I could think of some other solutions to tackle this. For example we'd need to a) be really c

[2015-04-08 07:27] mzanetti commented on #184
for the record, this is what I currently use in the Ubuntu App store:

Description:
A Journey planner/Railway Time table for public transportation. Currently supported services are:
* bahn.de
* oebb.at
* rejseplanen.dk
* sbb.ch
* reiseinfo.no / nri
* vesttrafik.se
* ptv.vic.gov.au
* Sydney
* SF Bay
* London
* Ireland
* Dubai
* 9292ov.nl

Keywoards:
train, bus, travel, bahn, oebb, öbb, rejseplanen,

[2015-04-08 08:01] leppa commented on #184
Sounds like a good idea. When I added Fahrplan to the BlackBerry World, I've made an updated description which was later adopted by @smurfy for other stores. Currently, a nice description that can be used in the stores is on http://fahrplan.smurfy.de/. In case of BlackBerry World, the description contains "A journey planner and timetable application for a lot of train and public transport lines in

[2015-04-08 14:49] nikwen opened #185 "[Ubuntu] [bahn.de] Shows trains which do not depart on the current day of the week"
Lately, I was on a journey from Nuremberg (Germany) to Munich on a Sunday and the app displayed a train which, according to the app, was supposed to depart at 12:10 h. However, I found out the hard way that it only departs on Saturdays.

Result: Had to wait one hour in Nuremberg for the next train.

[2015-04-08 14:56] leppa commented on #185
If you go to bahn.de website and search for the same connection there, does it return train at 12:10?

We show the information as provided by the service. So if bahn.de returns that train in the list of journeys, there's nothing we can do about that.

Unless Fahrplan, somehow, sent wrong date / time to bahn.de.

[2015-04-08 14:58] nikwen commented on #185
@leppa Thanks you very much for your reply.

The bahn.de website doesn't display the train. I'll try to find another case so that you can reproduce the bug.

[2015-04-08 15:02] leppa commented on #185
I can see there's a train from Nuremberg to Munich at 13:10 on Sundays. That's exactly one hour difference.
Did your issue happen this Sunday (05.04) or the Sunday before (29.03)?
I have a feeling that it might be somehow related to daylight saving time change.

[2015-04-08 15:04] nikwen commented on #185
@leppa I had exactly the same thing in mind as it happened on Sunday, 29th March.

I'll send you a screenshot if you want one.

[2015-04-08 15:17] nikwen commented on #185
Here is proof that it is in fact related to the daylight saving time change.

This is the screenshot I took on the day before the journey (some personal information removed):

![fahrplan](https://cloud.githubusercontent.com/assets/3309657/7048345/d5e14298-de12-11e4-9377-abfc6defcfec.png)

This is a screenshot I took right now from the bahn.de website:

![bahn de website](https://cloud.githubuserco

[2015-04-08 15:34] leppa commented on #185
Thanks for the screenshot. Maybe, changing the phone date will reproduce the issue. Some of us will take a look at this issue.

I can also see that train comments are cut on the right. @mzanetti, can you enable word wrapping on the label?

[2015-04-08 15:36] nikwen commented on #185
Thanks. :)

Give me a moment and you'll have a PR with word wrapping. ;)

[2015-04-08 15:39] nikwen commented on #185
Another thought: If changing the date back doesn't help, one can always look at trains after the next daylight saving time change.

[2015-04-08 15:55] leppa commented on #170
Looks like I forgot to put my 5 cents here :-)

I think that automatically starting search is useful, however we should have some safeguard from flooding the server with requests and eating user's traffic. That was my original idea behind the timer on Symbian. If user stops typing for more than *x* seconds, we can assume that he finished typing and try to perform the search.

Also, we don't have a

[2015-04-08 15:59] nikwen commented on #185
The pull request for word wrapping: https://github.com/smurfy/fahrplan/pull/186 :)

[2015-04-08 16:00] leppa commented on #170
Most probably, yes. `SearchBox` on Symbian has `Qt.ImhNoPredictiveText` set by default. And if I'm not mistaken, if you try `TextField` instead, you'll have the same behavior as on Harmattan.

[2015-04-08 16:08] nikwen opened #187 "Should remember train restrictions when reopening application"
Currently, the train restrictions field always resets to "All trains" when reopening the application. It should remember other values.

[2015-04-08 16:14] leppa commented on #146
Closing as @stmblfrcr reported it as fixed in #141.

[2015-04-08 16:14] #146 closed

[2015-04-08 16:22] leppa commented on #187
I agree. In general, we should save all selected options in the search. Train restrictions were just overlooked, most probably.

I think it would also be nice to save last active tab (Journey / Timetable).

PS: I removed Ubuntu and bahn.de from title because it's valid for all platforms and services.

[2015-04-12 17:14] abkro opened #188 "Correcting station name in search field results in no stations found"
I have used Fahrplan for a few days with the Norwegian API reiseinfo.no/nri. If I type a station name in the search field a list of suggestions appears. If I abandon the search term, either by deleting it character by character, or by tapping on the 'x' in the search field, it is no longer possible to search for stations. No matter what I type, (including the original term) no suggestions appear.

[2015-04-12 18:32] mzanetti commented on #188
Is this on Ubuntu? If so, this bug is fixed in git master with commit f39dc10, but not released into the App Store yet.

[2015-04-12 18:46] abkro commented on #188
Yes it's on Ubuntu. Thanks. Look forward to updating to the new version!

(I also wrote a short review in the App store where I mentioned problems with the nordic characters åæø. Should I register a bug report here for this issue?)

[2015-04-13 08:48] mzanetti commented on #188
Yes. Please report bugs. The reviews in the store are not the right place for reporting bugs for multiple reasons.

[2015-04-13 08:49] smurfy commented on #188
I will close this issue. @abkro please report the characters or any other problem as a separate issue.
Thank you.

[2015-04-13 08:49] #188 closed

[2015-04-13 08:59] smurfy commented on #184
As @leppa mentioned, i updated the website with a more detailed list about the supported providers.
It contains, the official website and the country as-well.
I think we should use this detailed list in the descriptions.

About keywords: we should use the provider names (url).

For application name we could use in the store something like: **fahrplan - the public transportation app**

[2015-04-15 05:37] abkro opened #189 "Station search with nordic characters malfunction"
I am using Fahrplan with the Norwegian API.

Many place names contain one or more of the characters å, æ, ø. App behavior is inconsistent in these cases, but it looks as though it is unable to find the names starting with one of these characters.

In addition, when the character is not at the beginning of the name, some names are found, but others not.

Examples:

Åros (several bus stops starting

[2015-04-15 05:41] abkro commented on #189
Submitted from my Ubuntu device. Unable to find how to assign tags to this issue, i.e. [Ubuntu]

[2015-04-15 05:43] abkro commented on #189
Submitted from my Ubuntu device. Unable to find how to assign tags to this issue, i.e. [Ubuntu]

[2015-04-15 06:49] leppa commented on #184
By the way, @smurfy, should it be "**f**ahrplan" or "**F**ahrplan"? Because I was always using "Fahrplan", but noticed that you usually use "fahrplan".

[2015-04-15 07:50] leppa commented on #189
I checked on BlackBerry 10 and I can find mentioned stops. So it might be Ubuntu specific issue.

Do you mean labels that are displayed on the right? Only Collaborators can do that, AFAIK.

[2015-04-15 08:29] mzanetti commented on #189
http://i.imgur.com/HNAWHxt.png

Seems to work for me. Note that I have searched for "Aros", not "Åros" as I don't have that character and I don't seem to have an option to set the keyboard layout to norwegian on my phone. Does this only happen when you use those special characters for searching?

Another thing to check is that you're not confusing it with bug #188.

[2015-04-15 16:05] abkro commented on #189
Yes, I checked and I also get the stations Åros ... when typing with an 'A' instead of 'Å'. And yes again, it only happens when I use the mentioned special characters. (Incidentally, you get these with any of the nordic keyboard layouts, i.e. Swedish, Danish, Norwegian). Finally, I am not confusing this with bug #188.

[2015-04-15 17:28] smurfy commented on #184
I mainly use fahrplan, because i don't like typing uppercase :)
But you are right, we should specify some kind of reference and the actual notation is important

[2015-04-17 21:28] dhoelsch opened #190 "Search"
Hello there!
Is it possible to start searching the departure and arrival station only after inserting the first 3 chars? So there is more chance to hit the right station at first.

[2015-04-26 08:59] benzea commented on #185
Hey, had the same issue, and I would say the reason might be the toTime function in the parser (which means that changing the date on the phone only changes some aspects).

nikwen, the first train you took, was it a 4:XX long train ride? Looking at the code I would expect that any duration that lasts for more than 2 hours will be displayed an hour too long if the *phones* date is on the change to

[2015-04-26 09:02] benzea commented on #185
Reproducing the issue is trivial. Just do a search on 25th of October, and all trains will be displayed an hour early (well, after the first 2:59 o'clock).

[2015-04-26 12:15] nikwen commented on #185
@benzea No, the 5:XX hours which were displayed were correct. The journey would have lasted from 10:XX to 15:XX (opposed to 09:XX to 14:XX which the app displayed).

I took the screenshot on the day before the journey.

[2015-04-26 18:54] benzea commented on #185
On So, 2015-04-26 at 05:15 -0700, Niklas Wenzel wrote:

Makes sense then. Any search on the day will display wrong durations.

Two more things:
* Please use QTime for the duration.
* The QDateTime should be switched to use UTC or better set the timezone
based on the backend that is used. It really shouldn't use the devices
timezone, as the device might be in a different timezone and then bad
thing

[2015-04-27 07:19] smurfy commented on #185
@benzea thanks for looking into this, feel free to create a PR once finished and tested.
Main thing to test is if it still works if you have a journey > 24h

[2015-05-20 03:45] kayschubertwebde opened #198 "Integrate overland bus companies"
Integrate overland bus companies, like Student Agency in Fahrplan.

[2015-05-20 18:49] krnekhelesh commented on #137
@smurfy @mzanetti Sry about this, I had a branch earlier which got stalled due to lack of time. But anyway, I started fresh and have fixed this. Will create a pull request tonight. Happy to see a lot of custom code being removed.

[2015-05-20 19:14] krnekhelesh commented on #83
@smurfy I am not able to try the calendar feature (due to me not having the devices) but what exactly is this feature supposed to do? Adding a journey plan to the user's calendar and notifying them 15 mins before? Can you share some screenshots of it?

[2015-05-20 19:28] smurfy commented on #83
On the devices with calendar support this is the usual behavior:

1. You can select at the settings page in which calendar you want to add the journey. ```fahrplan_calendar_manager.cpp``` for the code of the other platforms. If there is only one calendar supported no need for this. (i for example did not do this for sailfishos yet)

2. On the journey detailes page there is a button/menu to trigger

[2015-05-20 19:36] krnekhelesh commented on #83
Hmm interesting.. @mzanetti worked on the reminders app which used QtOrganizer to add reminders to the system calendar. May be this feature could be integrated in a similar fashion. I will leave this to him.

[2015-05-20 19:42] smurfy commented on #83
There is already some QOrganizerManager/QOrganizerEvent  code in fahrplan.
harmattan, symbian and maemo5 uses this. Maybe this works almost out of the box by adding ubuntu to the #if defined ?

[2015-05-21 13:07] mzanetti commented on #83
I have a branch here on my hard disk that does this mostly already... Have been running into a bug in Ubuntu so I stopped it. Will try it again. Currently I'm travelling. Maybe next week I can find some time.

[2015-05-21 13:57] krnekhelesh opened #202 "9292ov.nl data source is missing delays, train cancellation warning messages"
I have noticed during daily usage that fahrplan doesn't show train delays, cancellation warning messages that the official 9292ov.nl app on android shows. Here is a screenshot of a warning that is shown in the timetable page on android that isn't shown with fahrplan.

![screenshot_2015-05-21-15-38-04](https://cloud.githubusercontent.com/assets/761845/7749994/dde5cf5a-ffd1-11e4-9f30-34a8f99c2ec7.pn

[2015-05-21 14:06] leppa commented on #202
Moreover, it doesn't show line numbers (e.g., just "Intercity", instead of "Intercity 241", for Amsterdam -> Berlin route). It definitely needs some love.

PS: I've fixed line numbers display when I was in Amsterdam last time. Just didn't have time to clean up and submit the code.

[2015-05-21 14:09] krnekhelesh opened #203 "[Ubuntu Touch] Provide views to filter timetable results by transportation types"
In my personal opinion, the 9292ov.nl app is one of the best designed apps on Android when it comes to transportation apps. You should give a try if you have some time to see what I mean. Anyway, in the timetable page, they provide filters based on the transportation type which I think is rather nifty.

I want to implement something like this in the ubuntu touch port. While I can implement most of

[2015-05-21 14:11] krnekhelesh commented on #202
@leppa ooh yes showing "Bus 69" to Delft Central rather than just "Bus" would be much appreciated.

[2015-05-21 14:14] smurfy commented on #203
you have the following fields to your disposal:

    roles.insert(CurrentStation, "currentStation");
    roles.insert(DestinationStation, "destinationStation");
    roles.insert(TrainType, "trainType");
    roles.insert(Platform, "platform");
    roles.insert(Time, "time");
    roles.insert(MiscInfo, "miscInfo");
    roles.insert(Latitude, "latitude");
    roles.insert(Longitude, "longitude");

(b

[2015-05-21 14:20] krnekhelesh opened #204 "[Ubuntu Touch] Show distance to stations in the stationselect page"
I noticed while looking at the fahrplan's blackberry screenshots that it shows the distance in meters to each station listed in the stationselect page. I think this is brilliant! Let's get that over to ubuntu touch as well.

![Screenshot](https://appworld.blackberry.com/webstore/servedimages/38034345.png/?t=17)

[2015-05-21 14:24] smurfy commented on #204
This info is available in ```miscInfo``` of each entry.
But if i remember correctly only on a search by gps

[2015-05-21 14:26] leppa commented on #204
For HAFAS, at least, it takes this info from XML reply. And HAFAS returns distance to station only when you search by coordinates.

[2015-05-21 14:31] krnekhelesh commented on #204
@smurfy @leppa Thanks for the help..it seems that in ubuntu touch, we don't use the `miscinfo` variable in the listview delegates and thereby were missing that information. This should be a relatively easy fix.

Earlier I was scouring the internet on how to calculate the distance between 2 gps coordinates instead of simply looking at the fahrplan backend :P

[2015-05-21 14:33] smurfy commented on #204
I use this in my Javascript project:  :D

    function (lat1, lon1, lat2, lon2) {
    var radlat1 = Math.PI * lat1/180,
        radlat2 = Math.PI * lat2/180,
        theta = lon1-lon2,
        radtheta = Math.PI * theta/180,
        dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);

    dist = Math.acos(dist);
    dist = dist * 180/Math.PI;

[2015-05-21 14:39] leppa commented on #204
However, that means that we need to request GPS coordinates from the phone for every search (not only for search by location). This might impose some delay (while waiting for GPS fix). Also, some users might not like that their location is requested every time they do search.

[2015-05-21 14:41] krnekhelesh commented on #204
@leppa well I can just add `miscinfo` to the listview delegates and hide it when it has nothing to show since I am presuming that the fahrplan backend only fills it proper info when the search is done by location. I am yet to implement and test this, but the UI change shouldn't cause GPS coordinates request on every search since all is handled in the backend plugin?

[2015-05-21 14:43] smurfy commented on #204
@leppa @krnekhelesh i also think the distance is most important with search by gps coordinates, not for normal searches.

[2015-05-21 14:45] krnekhelesh commented on #204
:+1:  I agree

[2015-05-21 14:51] leppa commented on #204
@krnekhelesh, yes, just display `miscInfo` if it's not empty. Beware that it might also contain some other info. For example, in 9292ov.nl it contains station type and in my yet to be submitted change I added a distance, so it's two lines (if distance is available).

[2015-05-21 14:59] krnekhelesh commented on #204
@leppa Do you mind splitting that info (distance and station type) into two variable instead? That will give UI devs freedom to display that information without overloading the listview delegates. For instance, I could use say `stationtype` to display a train or a bus icon to help recognize it faster rather than displaying it as a text. And then display `distance` in the right side of the listview

[2015-05-21 15:49] leppa commented on #204
Well, it definitely makes sense to make information more granular. It just needs to be done.

For example, all cancellation warning, announcements and comments, together with HTML formatting to distinguish each of them, go into one `info` property of `JourneyDetailResultItem`. And this already brings some issues, like exposed HTML formatting in calendar entries. The issue is to make it granular en

[2015-05-25 18:31] krnekhelesh opened #207 "Show train delays, cancellations etc in the timetravel page in red color"
Just in like other pages, we should show delays in red color to indicate that it will affect the user's journey.

This issue stems from 2 problems that I was able to observe,
- The text format in Ubuntu Touch is not set RichText and as such the color tag defined in the 9292 parser is ignored. This is quite easy to fix.
- In some parsers like mobilebahnede.cpp, munich_efa.cpp,  I don't see color ta

[2015-05-25 18:33] krnekhelesh opened #208 "[Ubuntu Touch] TimeTable results page listview has data overflowing its listitem delegate"
This issue was noticed when reporting bug #207 that the data in the timetables page overflow its listview delegate.

![delay](https://cloud.githubusercontent.com/assets/761845/7800746/81c15658-031a-11e5-8d93-d7179d77f1dc.png)

[2015-05-25 18:35] krnekhelesh commented on #202
@leppa It looks like this issue can now be closed as I can see delays and other warnings thanks to your pull request #206.

[2015-05-25 23:02] #202 closed

[2015-05-25 23:06] smurfy commented on #207
I don't really like the color defined in the backend, i don't remember the issue number but we discussed maybe exposing some info in additional fields.

I think realtime statistics could be such an additional field.

Values could be:
null = no realtime data
0 = on-time

This field should be available for timetable and journey.
After that the gui can handle how and in which colors the data will be

[2015-05-26 05:19] leppa commented on #202
It's still missing delays in journey details, like official app has, but I don't see this data in JSON reply. So it can be closed.

[2015-05-26 07:27] krnekhelesh commented on #137
This has been fixed as well.

[2015-05-26 07:27] #137 closed

[2015-06-01 07:36] #204 closed

[2015-06-01 07:36] #208 closed

[2015-06-04 11:20] #179 closed

[2015-06-04 18:45] #180 closed

[2015-06-11 17:37] smurfy commented on #198
Which countries are supported? I mainly find Czech stuff

[2015-06-11 17:41] smurfy commented on #178
There are some android apps available.
Found https://github.com/phoxicle/TrainOse  which is MIT license. (which is GPL compatible)
So we could use some insight from there.

[2015-06-11 17:48] smurfy commented on #178
Sample Request for journey:

https://tickets.trainose.gr/dromologia/ajax.php?c=dromologia&op=vres_dromologia&apo=%CE%91%CE%98%CE%97%CE%9D&pros=%CE%A0%CE%9B%CE%95%CE%A5&date=2015-06-11&rtn_date=undefined-undefined-&travel_type=1&trena%5B%5D=apla&trena%5B%5D=ic&trena%5B%5D=ice&trena%5B%5D=bed&time=23%3A59&time_type=anaxwrhsh&rtn_time=23%3A59&rtn_time_type=anaxwrhsh

[2015-06-11 18:03] smurfy commented on #114
It seams the api is ready https://hello.irail.be/api/1-0/

[2015-06-12 13:44] kayschubertwebde commented on #198
Student Agency operates bus lines to Austria, Belgium, Great Britain, Czech Republic, Denmark, France, Germany, Holland, Hungary, Italy, Luxemburg, Norway, Poland, Slovakia, Sweden and Switzerland.

They own also a train company: RegioJet, which operates on Czech and Slovak tracks.

[2015-06-12 14:33] smurfy commented on #198
I cant find any online search i could leverage. Only an order form.

[2015-06-12 14:46] kayschubertwebde commented on #198
On this website you can find the online search:

http://www.studentagency.eu/

[2015-06-12 16:34] kayschubertwebde opened #210 "Provider order in menu"
The providers should be sorted in alphabetical order: 1. country, 2. provider

[2015-06-12 16:46] kayschubertwebde opened #211 "Developer Information in About Screen"
1. Two main developers are still listed under co-developers.
2. Co-developers should be sorted in alphabetical order.

[2015-06-14 16:22] adam-910 opened #212 "[Symbian^3] Search does not work on Netherlands / Belgium (9292ov.nl)"
Search does not work on this site: Netherlands / Belgium (9292ov.nl), Fahrplan2.0.26.
This site is now called http://9292.nl/# (of http://m.9292.nl/). Maybe the problem is this.
But the search bahn.de, for trains in Belgium, works well.
Thanks for the support of Symbian.

[2015-06-15 07:25] smurfy commented on #212
Works for me on other platforms (i have no symbian device)
What exactly does not work?

[2015-06-15 07:39] leppa commented on #212
Works for me on BlackBerry 10 and Desktop, so seems to be Symbian specific issue. I'll try to check with one of my Symbian phones in the evening.

I have a theory here. We're using HTTPS for 9292ov.nl and if they updated their SSL certificate recently, it could be that certificate's CA is too new for Symbian. I've had a similar issue with Yandex services in TAO Translator. The way to fix this is t

[2015-06-15 17:25] adam-910 commented on #212
-What exactly does not work? - Nothing happens. Search circle spins, and finds nothing.
-The way to fix this is to ship CA certificate ourselves and make it trusted in Fahrplan. - I do not have the knowledge to do so. If you can, specify a link where this is described in more detail.

![scr000009](https://cloud.githubusercontent.com/assets/12616383/8165794/cac8445e-1393-11e5-9fb3-149839558de9.jpg)

[2015-06-16 08:15] smurfy commented on #212
@adam-910 the remark about the CA was more of a developer hint than something you actually can do.

[2015-06-16 08:23] smurfy commented on #211
All Developers are listed in the "code contibutors" list. (except me)
Other thing is "maintainers" not main developers. It specifies who is keeping fahrplan up to date and makes sure the platform is still supported.

@mzanetti looks mainly after ubuntu phone
@leppa has a bb10 phone and maintains the port, also did the symbian port and has vaste knowlege of qt.
@smurfy (me) is the original author,

[2015-06-16 10:38] kayschubertwebde commented on #211
I was referring to the german translations "Hauptentwickler" and "Mitentwickler". So it seems redundant to me to list some developers under both. Maybe for better understanding the terms should be changed to "Plattform-Betreuer" and "Entwickler" and also mention the platform each maintains.

The wrong sorting of the developers still applies.

[2015-06-16 10:45] smurfy commented on #211
Ok, i will have a look

[2015-06-25 09:33] bittner opened #214 "Add providers for Italy (Trenitalia, LeFrecce)"
I'm using *fahrplan* on my Ubuntu Touch device, and I like it a lot. Italy is not covered yet, though.

Do you plan to add [Trenitalia](http://www.trenitalia.com/) or [LeFrecce.it](https://www.lefrecce.it/B2CWeb/search.do?parameter=searchAdvInputViewer&cFID=SGdxOkoQG5Z7)?

There is already a WebApp for Ubuntu Touch for Trenitalia, but an integrated experience with *fahrplan* would be nice.

[2015-06-27 10:08] jv-barsuk opened #215 "Use current location data to set from"
Use the location data provided by the positioning to set the from field, similiar to google maps.

[2015-07-01 18:25] DirkSteinkamp opened #216 "Link to booking web page for online tickets"
It would be cool to be able to book online tickets!
A way to realize it could be to choose a train connection and from that on directly link to the web-page of a rail provider to buy an online ticket for that connection - in my case usually Deutsch Bahn (DB), already logged in with my account would be best (login-data to be stored in fahrplan in this case).
I don't know if that could be generalize

[2015-07-02 11:55] leppa commented on #216
Thank you for your suggestion.

Adding a link that opens a browser to buy online tickets shouldn't be a problem. Some services even provide such a link in their reply.

[2015-07-02 11:57] leppa commented on #155
AFAIR, those incorrectly highlighted tabs in the toolbar are, actually, a bug in Qt Components. I don't know whether it will be easy to workaround that.

[2015-07-02 12:45] kayschubertwebde commented on #155
With workarounds we should be carefully, as the recent experience shows. If an approved workaround exists for this problem (some research neccessary), then ok, otherwise I think it's better to close this issue. (minor UI bug, not in all versions)

[2015-07-02 19:35] DirkSteinkamp commented on #216
great, sounds promising :-)

[2015-08-23 17:28] benna86 commented on #152
Here is some python code that interfaces with viaggiatreno.it API
https://github.com/bluviolin/TrainMonitor

[2015-08-23 17:30] benna86 commented on #214
Duplicate of https://github.com/smurfy/fahrplan/issues/152

[2015-08-23 19:37] #214 closed

[2015-08-23 20:02] bittner commented on #152
What about [Trenitalia](http://www.trenitalia.com/) and [LeFrecce.it](https://www.lefrecce.it/B2CWeb/search.do?parameter=searchAdvInputViewer&cFID=SGdxOkoQG5Z7)?

@gitfranz, do you happen to know, are they covering all Italian trains?

[2015-08-23 20:27] bittner commented on #184
@mzanetti The app's name in the Ubuntu Store is still **fahrplan** (lower case). How is it spelled in other app stores?

@smurfy What about **Fahrplan Worldwide** as an app name? Alternatively, **Fahrplan (worldwide)** which may suggest this is the "international version" of the German public transport app, haha.  :wink:

@mzanetti I agree the app is hard to find. I think I even didn't find it kno

[2015-08-23 20:54] bittner commented on #83
Looks like this is all working on Ubuntu Touch. Location selection works fine (very smooth, indeed!), and a date picker is in place. Isn't it the native one yet?

[2015-08-23 21:19] bittner opened #217 "[Ubuntu Touch] German translation incomplete (main screens)"
On Ubuntu Touch Fahrplan v2.0.25 shows English labels on the two main screens, all the other translations seem to work fine.

Tested with providers "Schweiz (sbb.ch)", "Österreich (oebb.at)", "Deutschland (bahn.de)".

## Missing (or not displayed) translations

1. **Screen "Fahrt"**
   * "From" -> "Von"
   * "Via" -> "Über"
   * "To" -> "Nach"
   * "Date and time" -> "Datum und Zeit"
   * "Transpo

[2015-08-24 08:33] smurfy commented on #217
Translations are managed via transifex (https://www.transifex.com/leppa/fahrplan/)

[2015-08-24 08:52] leppa commented on #217
German strings in Transifex are at 100%. Either we're missing some in the translation source, or Transifex is outdated. I can check.

[2015-08-24 09:22] leppa commented on #217
The translation source was outdated. Now we have some untranslated strings there.

[2015-08-24 11:12] bittner commented on #217
German translation is now complete, though review is pending for some items.

* 11 items still waiting for [review](https://www.transifex.com/leppa/fahrplan/translate/#de/en/41276321?reviewed=no) (Sailfish or translations you should look at for another reason).
* 3 items are marked as [issues](https://www.transifex.com/leppa/fahrplan/translate/#de/en/41276321?issue=yes) (need changes in the source

[2015-09-01 16:39] jv-barsuk opened #218 "ÖBB requests seem not to work anymore"
Since the ÖBB changed there schedule last week the requests seem not to work anymore.

[2015-09-01 16:41] jv-barsuk commented on #218
http://oebb.at seems to be purged, only http://www.oebb.at works in the browser.

[2015-09-01 16:47] jv-barsuk commented on #218
http://oebb.at seems to be purged, only http://www.oebb.at works in the browser.

[2015-09-01 16:51] smurfy commented on #218
Works for me.

What Platform and Version do you use?

[2015-09-01 17:57] jv-barsuk commented on #218
Actually there was another issue. I had the same station in the from and in the via field, that seems to be the reason why it didn't work, even though it happened after the update of the train schedule.

I did actually not know how to clear the via field. Would be nice to be able to do it with a swipe from left to right. Should I report a new issue for this?

[2015-09-01 17:57] #218 closed

[2015-09-01 18:40] bittner commented on #217
Still 11 items waiting for review and 3 items marked as issues on Transifex. :disappointed:

Is there anything more I can do to help? Anything I can clarify on that?

[2015-09-01 18:55] smurfy commented on #218
Not sure on which platform you are, but normally its press and hold on the station at the main screen.

[2015-09-01 18:57] jv-barsuk commented on #218
I'm using Ubuntu-Touch.

[2015-09-01 19:07] smurfy commented on #217
Everything is fine, i just had not much time, sorry.

I reviewed everything now,

Copyright/License on Ubuntu should be changed, i will do that in source soon.
I also normalized the translation of Backend to Datenquelle everywhere. (Old was Anbieter or Backend)

[2015-09-01 19:07] #217 closed

[2015-09-01 19:13] bittner commented on #184
Any thoughts on "**Fahrplan Worldwide**"? This may work out in an international context. A tagline, as proposed above, even localized if localized names of the app are supported in the App Stores, could still be added, e.g.

* :gb: Fahrplan Worldwide - Public Transport Timetable
* :fr: Fahrplan Worldwide - horaire transports publics
* :it: Fahrplan Worldwide - orario di trasporto pubblico
* :es: F

[2015-09-01 19:19] smurfy commented on #184
Maybe adding "worldwide" helps, if someone searchs and finds the app.
i'm not sure how people normally search for an app like this, but my guess is by provider/backend not by the string "public transport"

[2015-09-01 19:43] bittner commented on #184
You're right. But this is covered by the keywords, anyway (provided everyone follows your suggestion from above). As soon as the apps found for, e.g., the provider/backend are listed the user would choose the app that seems relevant enough for her/him.

I would guess users that think locally would then choose an app focused on a local implementation if it exists (e.g. Dublin transport), and users

[2015-10-11 09:33] bittner commented on #184
Any decision made here yet?

[2015-10-20 21:15] manuelbusch opened #220 "Deploy version for SailfishOS-i486 (Tablet)"
Now, after the first jolla tablets were shipped, it would be great to have the fahrplan app in Harbour and OpenRepos also for i486 (jolla tablet). I've tried to deploy 2.0.26 on my tablet and it seems to work really good. In Harbour admin there is now a compatibility checkbox for the tablet.

Best regards

[2015-10-21 07:57] smurfy commented on #220
Will do this as soon i get my tablet. (hopefully i'm in wave 2) , ordered at lunchtime on the 19th.

[2015-11-20 09:12] RHakurei opened #222 "Border-crossing busline not found."
This is more of an issue with the used APIs I guess, but there is one bus-route I usually take: 922 Emmen (NL)-Meppen Bhf (DE) and 922 Meppen Bhf (DE)-Emmen (NL) but it's not implemented, causing another route to be the 'fastest' (which is 3 hours+ vs. 50 minutes).

Could you implement this in the application?
The schedule is as follows: http://www.levelink.de/pdf_files/922-Emmen.pdf

[2015-11-20 09:29] smurfy commented on #222
It seems levelink is a private bus company which is not listed on bahn.de.
Also they don't provide any api/website to get the current data from. Parsing a pdf. is not really possible.
i'm sorry.

[2015-11-20 09:43] RHakurei commented on #222
I could put the data in a CSV since they are fixed times anyway.

[2015-12-09 14:57] FelipMarti opened #223 "[resource request] Integrate Catalunya (Barcelona) Public transport"
Hey there,

Awesome app for my Ubuntu Phone! Many thanks!
Could be possible to add the journey planner of Catalunya (Barcelona and surrounding area)?

Here the link for the powerful search engine that includes trains, tram, metro and buses:
http://mou-te.gencat.cat/locale.do?do=ingles

[2015-12-12 20:52] stmblfrcr opened #224 "[Bug][BB10] Input of umlauts, accented characters, etc. not working any more"
Recently I switched to a Z30 from a hardware keyboard device and discovered that the characters mentioned above, more precisely the ones requiring a long press are not being 'inputted'. At least one reviewer on BlackBerry World seems to be having the same problem and according to the app description it's supposed to work, right? Thanks for this otherwise wonderful app.

[2015-12-14 20:12] MueMar opened #225 "View intermediate stops for Ubuntu Phone"
It would be nice the intermediate stops would be shown if i click between the start and the destination station(bahn.de).

Thanks for the great App!

[2015-12-15 14:12] leppa commented on #225
Hi and thanks for your suggestion. This feature was requested long time ago but until now we didn't have time to implement it, unfortunately.

I'm closing your issue as duplicate of #13. You can subscribe to that issue to track the status.

[2015-12-15 14:12] #225 closed

[2015-12-15 14:20] leppa commented on #224
I just checked and, indeed, it seems that umlauts don't work anymore. They worked before, but something has changed in the recent version of the OS, apparently. I'll take a look whenever I have time, but I suspect that the only solution would be finishing #100.

[2015-12-15 14:35] leppa commented on #223
Hi and thanks for your suggestion.

I didn't see any mention of the publicly accessible API on the website that you mentioned, however there seems to be another one: [Barcelona Urban Mobility API](http://barcelonaapi.marcpous.com/). Which means that, technically, there should be no problem to implement such provider. It's just a matter of time.

[2015-12-15 14:58] leppa opened #226 "An open alternative to SBB.ch"
I just stumbled upon an open API for Swiss public transportation: https://transport.opendata.ch/. It provides both journeys and timetable information and seems to be on par with the information that we get from SBB.ch. We should consider looking into this API and, maybe, replacing SBB.ch with this one.

[2015-12-17 22:20] stmblfrcr commented on #224
Thanks :). Looking forward to it.

[2016-01-03 13:41] Imhotep-2700bc opened #227 "Backend error on Symbian"
Hello,
with Fahrplan 2.0.16 on Symbian I get "Unknown error occurred with the backend (Error 12)".
When I try to update to 2.0.26 I get an similiar message "network connection broken, installation aborted".
But I have no problems with the internet connection. Wnt the backend off service?

[2016-01-03 14:03] smurfy commented on #227
what backend are you using? bahn.de?

[2016-01-03 14:14] Imhotep-2700bc commented on #227
Yes, bahn.de.
And well, I get the error messages in German. My translation may slightly differ from the original English message.
But I suppose, bahn.de has nothing to do with the aborted installation of the update?

[2016-01-03 14:16] leppa commented on #227
"installation aborted" sounds like an error during installation, not while using the app. Is ti so?
I have a feeling that Nokia Smart Installer, that we use to package Fahrplan, doesn't work anymore. We need to package without it now.

[2016-01-03 14:24] Imhotep-2700bc commented on #227
@leppa
Yes. when I touch the "fahrplan2_2.0.26_installer.sis" file the installation starts with "preparation", goes on with "installing" and stops with "aborted". Then there is a hint that I should continue the installation using the "Nokia Smart Installer ADM" which does not work either.

[2016-01-03 16:34] smurfy commented on #227
@leppa do you still have your symbian to test an "smart installer" free installation. i thought it was necessary to use it, for the qt dependencies.

@Imhotep-2700bc 2.0.26 works for me so as long as we get the install problem sorted out i think there is no bug with the bahn.de backend itself.

[2016-01-03 16:38] kayschubertwebde commented on #227
The server for the Nokia Smart Installer is down. Please install the AppList store and then install the apps you want. AppList is completely without Nokia Smart Installer. Here you can find Fahrplan:
http://applist.schumi1331.de/content/12

[2016-01-03 17:03] Imhotep-2700bc commented on #227
Hello,
installation of AppList and update of Fahrplan worked.
And the backend error is solved with the update.

Thanks a lot for your quick support. It exceeds my expectations.

[2016-01-03 17:03] #227 closed

[2016-01-03 19:42] kayschubertwebde commented on #227
I think this problem shows, that it would make sense to set a link also to AppList on the Fahrplan website for an alternative installation source for Symbian (my personal opinion is, that AppList should be the recommended installation source). Please use the provided link.

[2016-01-09 00:32] PenaPP opened #228 "[resource request] Czech public transport"
Hello,
here is a short history of data availability in Czech Republic (you can skip it)...

And here comes the **current situation**...

# Official Chaps/Mafra based resources
Here is some dispatcher to get to all Chaps/Mafra based usages: http://www.chaps.cz/eng/products/IDOS-smart
These resources are owned by Mafra and are built on top of Chaps data, so it should be the most accurate source of i

[2016-02-11 06:46] bittner opened #229 "[Ubuntu Touch] Oddies in Ubuntu Store app description"
In the app's description on the Ubuntu Store there are a few odd things that could be corrected:

- [ ] The app icon shows some sort of "Mole Antonelliana" (landmark of Turin, Italy) instead of the Fahrplan app icon, not sure why.
- [ ] Switzerland is spelled "Swi**zz**erland" (typo)
- [ ] Sort order in list of supported services seems arbitrary (alphabetical sort order may seem less irritating)
-

[2016-02-27 21:44] mikaelelf opened #233 ""vasttrafik.se", Gothenburg Sweden stopped working 26-27th of february."
I use Fahrplan (symbian belle) on regular basis (Gothenburg, Sweden) and today it didn't work. I use "vasttrafik.se" and don't get any departures or arrivals at all since today or yesterday. By the way "resrobot.se" doesn't work either. For a control I tried the German "bahn.de" which do work. Would be very greatful if you could fix the problem!

[2016-02-27 21:55] smurfy commented on #233
a new version will be released soon, with fixed vasttraffik and resrobot

[2016-02-27 21:55] #233 closed

[2016-02-27 22:05] mikaelelf commented on #233
great, thank you very much!
/mikael
----Originalmeddelande----
Från: Philipp Andreas
Sänt: 2016.02.27, 22.55
Till: smurfy/fahrplan
Kopia:mikaelelf
Ämne: Re: [fahrplan]  "vasttrafik.se", Gothenburg Sweden stopped working 26-27th of february. (#233)

a new version will be released soon, with fixed vasttraffik and resrobot

---
Reply to this email directly or view it on GitHub:
https://github.com/smu

[2016-02-27 23:17] criztovyl opened #234 "Allow entering stopover times for via stations."
I'm on Ubuntu Touch with Fahrplan v2.0.26

[2016-02-27 23:23] smurfy commented on #234
Which backend are you using?

[2016-02-28 09:53] criztovyl commented on #234
Uh, sry, bahn.de backend :)
Am Samstag, den 27.02.2016, 15:23 -0800 schrieb Philipp Andreas:

--
Visit me:
https://joinout.de
https://criztovyl.joinout.de
https://github.com/criztovyl

[2016-03-02 13:52] krnekhelesh commented on #229
@mzanetti I notice these typos in the app store description. Since you uploaded the app to the store, can you fix them?

I don't notice the app icon issue though.

[2016-03-07 18:36] #211 closed

[2016-03-10 03:44] jax667 opened #236 "Android (Cyanogenmod) support?"
Hey guys,

I didn't want to let go of my Nokia 808 (Symbian Belle), but since Nokia dropped Symbian and some apps are harder to use as the years go by (Browser) or just non-existent like a descent messenger app (XMPP client/Signal), I was forced to get an Android Smartphone.

I would like to know what your standpoint is regarding that operating system. I would love to see one of my favourite apps

[2016-03-10 13:13] jax667 commented on #236
Nevermind guys, I don't want to cause any more work since I found transportr:
https://fossdroid.com/a/liberario.html

[2016-03-10 13:17] smurfy commented on #236
another good one is "Oeffi" on android.

[2016-03-10 13:17] #236 closed

[2016-03-14 22:21] #210 closed

[2016-03-19 16:49] #187 closed

[2016-03-20 15:39] #220 closed

[2016-03-20 16:02] smurfy opened #237 "2.0.27 for symbian does not compile because of ParserFinlandMatka"
Symbian uses QT 4.7.4 and linking failes.
Needs some analysis how to fix.

[2016-03-20 16:03] smurfy commented on #237
@f03el fyi

[2016-03-20 16:06] smurfy commented on #237
somehow related to the gausskruger library and linking

[code]

[2016-03-20 19:42] smurfy opened #238 "2.0.27 resrobot.se, swedish special chars have wrong encoding on Harmattan"
2.0.27 resrobot.se, swedish special chars have wrong encoding on Harmattan

[2016-03-21 18:09] #237 closed

[2016-03-21 18:45] smurfy commented on #237
@leppa do you have time to do the symbian release on applist and bb10?

[2016-03-21 18:49] #238 closed

[2016-03-22 11:50] leppa commented on #237
@smurfy should definitely have some time on Tuesday. Maybe even earlier.

[2016-03-22 11:54] smurfy commented on #237
@leppa cool thank you, also maybe check if #238 also affects symbian (possible qt4 related)

[2016-03-22 21:29] smurfy commented on #215
Isnt this already supported by the gps icon in the select station dialog?

[2016-04-14 10:25] abkro commented on #189
Hello again,

I have now joined the translator team and finished translating Fahrplan to Norwegian. The bug with the Nordic characters (Å, Æ, Ø), however, has not been solved. Would someone please look into this issue?

A and Å are different characters in the alphabet, with different pronunciations. Some users may figure out they can use A instead of Å and so on, but many will probably not, and al

[2016-04-14 10:30] abkro opened #239 "Change long-press menu behavior to listitem swipe gestures"
Old-title: Unable to remove "via" station in search
Hi

I have used Fahrplan for the past year and have constantly had trouble when specifying a search for a journey because I most often do not need the option to specify a "via" station, yet it is impossible to remove this. I therefore end up trying to find some other station along the route I am looking up, so as to be able to complete the search

[2016-04-14 10:46] mzanetti commented on #239
Does long-press on the via station field not work for you?

[2016-04-14 13:19] smurfy commented on #189
Hi Ari,

i can reproduce the problem with Åros on Sailfish as-well. If i search Aros i find stations starting with Åros and if i search for Åros it looks like it ignores the char completely and searches for Ros instead.

I will have a look

[2016-04-14 13:50] abkro commented on #239
Hi

It does indeed work for me, thank you!

I had no idea that was how it worked! Maybe some kind of tip, or
possibly better still, the ability to toggle the "via" field on/off,
might be more obvious to the user? Just a suggestion...

(For me, personally, the issue is naturally solved, since I now
understand what to do.)

Best regards,

Ari

Den 14.04.2016 12:46, skrev mzanetti:

Links:
------
[1]

[2016-04-14 13:51] abkro commented on #189
Hi

That's great! Thanks!

Ari

Den 14.04.2016 15:20, skrev Philipp Andreas:

Links:
------
[1] https://github.com/smurfy/fahrplan/issues/189#issuecomment-209938068

[2016-04-14 13:56] mzanetti commented on #239
Actually, can we reopen this @smurfy ?

I think this long-press menu should be converted to listitem swipe gestures as it is common in ubuntu touch nowadays.

[2016-04-21 13:34] leppa commented on #237
I had a bit of time for Fahrplan today, so I took a look #238 and, indeed, this bug affects all Qt 4 based platforms. There are also some compilation errors in `gausskruger.cpp` on BlackBerry 10. Will fix them and publish to BlackBerry World and AppList after that. Hope to do it today or this weekend.

[2016-05-08 18:26] M1dgard opened #240 "9292ov.nl does not work (any more) in Belgium"
I can't find any location in Belgium from within the app. I tried on [9292ov.nl](http://9292ov.nl) and it gave the same results. Apparently they don't do Belgium (any more). So Belgium should be removed from the description.

Would be great to include one of the following APIs for Belgium:

* https://hello.irail.be/api/
    * Flanders and Brussels
        * realtime train
        * static bus (i.e

[2016-05-08 18:31] smurfy commented on #240
just tested on sailfish. workes for me. what version and platform are you using?

[2016-05-08 20:58] M1dgard commented on #240
2.0.26 on Ubuntu Touch with OTA-10.1, but I actually think 9292ov.nl has a problem. I did some more experiments with Fahrplan and their own site, both always give the same results:

Searching for "Gent-Dampoort" brings up bus stop *Dampoort* in Ghent instead of the train station *Gent-Dampoort*.

"Brugge", "Knokke" etc. return the place, but not the train station.

For some stations it shows stree

[2016-05-08 21:07] M1dgard opened #241 "Ambiguity in search results"
If you want to route from a Kerkstraat you also have to type the municipality.

![screenshot](https://cloud.githubusercontent.com/assets/4283376/15100410/100c56f6-1571-11e6-8fb5-e0c5354baf18.png)

Typing "Kerkstraat Amste" still gives two results (Amsterdam and Amstel both have a Kerkstraat).

Ubuntu Touch, Fahrplan v2.0.26

[2016-05-19 10:01] mzanetti commented on #190
I have compared this to the Sailfish version and that one is even more pragmatic when searching things. On Ubuntu there is a timer which waits for 500 msecs whenever you change the text. On SFOS instead every change immediately triggers a search.

IMHO the 500msec delay should be enough to allow entering multiple characters without triggering unnecessary searches, no?

[2016-06-03 14:52] Sandvich opened #243 "[resource request] Transport for London"
Hi!

Right now Ubuntu Touch is missing any decent transport apps for London, and I think fahrplan could do a good job. The details of the API are on the TfL website here: https://tfl.gov.uk/info-for/open-data-users/data-feeds?intcmp=29422
I would, of course, be up for doing most of this myself, but for now I don't really know where to begin!

Thanks,
Sanchit

[2016-06-03 15:06] leppa commented on #243
If you know C++, you can create a new parser yourself and submit a pull request.

For this, you need to subclass `ParserAbstract` (or `ParserEfa`/`HafasXml`/`HafasBinary`, which already implement parsing of some common data formats) and re-implement relevant virtual functions. Then add your new parser to `FahrplanParserThread::run()` and `FahrplanBackendManager::getParserList()`.

[2016-06-03 15:07] Sandvich commented on #243
This sounds complex but hopefully doable :3

[2016-06-03 15:12] leppa commented on #243
I see that the API you mentioned supports JSON and XML. Parsing XML is a pain, so I'd suggest using JSON here. You can take a look at `ParserNinetwo` implementation, which also uses JSON-based backend.

Don't know how is it for @smurfy, but unfortunately, I don't have much time for side-projects ATM. But I'll try to help if you have some questions (or need a code review).

[2016-06-03 15:14] smurfy commented on #243
I'm quite busy myself at the moment too.

[2016-06-03 15:19] Sandvich commented on #243
Sounds good - I use JSON a lot at work, so I'm much more comfortable with that than XML.

[2016-07-10 15:17] mikaelelf commented on #233
I've seen, that among other OS:es, Meego has been updated in March (to 2.0.27). Will the Symbian version be updated too? Applist still holds 2.0.26.  Thank you!

[2016-07-19 20:35] leppa commented on #233
Hi @mikaelelf,

Today I finally found time to build and push an updated version of Fahrplan to AppList. So it should be up to date now. Sorry for such a delay.

[2016-07-19 20:41] leppa commented on #241
I assume you're using 9292ov.nl service?

We display what the service returns to us. If it just returns a list of stations that are all named "Kerkstraat", than we can't do much about that. I'll check whether there's some additional info attached, to distinguish those. If yes, then we should be able to update the service to display it.

[2016-07-19 20:49] M1dgard commented on #241
Indeed.

I believe it also returns the city. At least, cities are shown when you do a
search on their website, so it wouldn't really make sense if it's not included
in their API response.

[2016-07-19 20:54] leppa commented on #240
If Fahrplan returns exactly the same results as 9292ov.nl website, then it's nothing we can fix. We just display whatever the backend service (being 9292ov.nl in this case) returns to us.

However, if there are differences in what you see on the website and in the app, then let us know (like #241 that you reported). We'll try to fix it.

As for the API you suggested, it should be possible to imple

[2016-07-19 20:56] leppa commented on #241
Seems like it does, on the website. In this case, I assume it's also returned through the API, we just didn't include it into our output. I'll try to take a look tomorrow.

[2016-07-19 20:57] M1dgard commented on #240
Yep, that's why I was initially just asking to remove "Belgium" from the
description. ;)

Who knows, if I have some time the coming weeks. :)

Thanks for the reply!

[2016-07-20 18:25] #241 closed

[2016-07-21 20:26] mikaelelf commented on #233
Hi @leppa,  the newly uploaded version 2.0.27 on applist works fine with "resrobot" but not with "vasttrafik". If using "vasttrafik" searches for bus/tram/train stops become eternal and with no result.

[2016-07-22 07:27] leppa commented on #233
I submitted the same version as published on all other platforms (except for encoding fix which is not related to vasttrafik.se).

It seems to work on Jolla and BlackBerry 10, so might be something Symbian specifik. I'll try to take a look.

[2016-07-24 17:55] leppa commented on #233
I checked and it seems that it's a Symbian specific problem now. It might be that Symbian is becoming too old: when Fahrplan uses HTTPS, the connection closes immediately; when HTTPS is disabled, Fahrplan is able to request the access token, but subsequent request to find station fails. So it looks like there might be no way to make Västtrafik work on Symbian.

[2016-07-24 19:17] mikaelelf commented on #233
So, has this something to do with the way "vasttrafik" works? Do you think one should expect that  other providers of public transport data will change their way to deliver data in the same direction as "vasttrafik"?
Good anyway that "resrobot" works so far as it covers a big part of Sweden. A good enough solution is of course to use google maps public transport wayfinder, which still works with g

[2016-07-24 19:22] leppa commented on #233
Well, as this issue seems to be related to SSL, api.vasttrafik.se might be using some modern cipher suite that Symbian doesn't support. And, unfortunately, it looks like the without SSL only token request works. I might try to dig deeper whenever I have time, but don't count on it in the nearest time.

[2016-07-29 21:05] d9h02f commented on #240
Either of those APIs would certainly be appreciated!

[2016-08-27 12:51] #215 closed

[2016-08-27 15:20] #239 closed

[2016-09-04 16:40] smurfy opened #246 "Add support for http://navitia.io"
Supports various locations, like Italy, Paris, some canadian cities.

[2016-09-28 21:06] craftbyte commented on #151
I know it has been more than a year since this, but now the inter-city transport can be done. All of the bus companies have their data available on http://test.jpp.si/. And the Railway system has a SOAP service they use for their app available here: https://play.google.com/store/apps/details?id=si.slozeleznice.voznired&hl=sl. The SOAP service requires a username and password and most of the parame

[2016-10-26 10:22] silverhook commented on #151
@craftbyte Very neat! I didn’t notice that yet. The JPP website also works for LPP city buses, BTW.

[2016-11-11 22:43] mikaelelf opened #247 "[Symbian^3] Vasttrafik (sweden) works again now, but not resrobot (sweden)!"
Refers to #233.
"Resrobot"  stopped working a few weeks ago, but to my surprise "vasttrafik", which had stopped working do work again!!  Well, this seems shaky and random... Could you check this up please? Why does "vasttrafik" (Gothenburg local public transports) work again and why does "resrobot" (countrywide public transports) not work anymore. Could something be done to safe the availability o

[2016-12-26 11:08] mikaelelf opened #248 "[Symbian^3] Earlier/later (departures/arrivals) buttons doesn't work."
Since a couple of months ago the earlier/later (departures/arrivals)buttons doesn't work. I'm using ver 2.0.27 and "vasttrafik.se" for Gothenburg traffic.

[2017-01-07 14:39] f03el commented on #247
@mikaelelf  Resrobot is working for me in Sailfish OS. Unfortunately I don't have the possibility to test in Symbian. Is it still not working for you?

[2017-01-08 13:09] mikaelelf commented on #247
No, it's not working! Tell me if you want additional informatin.

[2017-01-08 15:11] f03el commented on #247
@mikaelelf Do you see anything interesting when running Fahrplan from the command line? Does anything of the following work?
- Find stations by name
- Search journey
- Time table

[2017-01-08 15:50] mikaelelf commented on #247
how do I do that? From cmd in delight app? Which command to use?

[2017-01-08 15:55] f03el commented on #247
I have never used Symbian, so I can't help there. Does someone else know?

[2017-01-08 15:58] f03el commented on #247
Could it be the same problem as #212?

[2017-01-08 16:48] mikaelelf commented on #247
I don't know. It searches for a while an then report "no results were found".

[2017-01-08 17:51] f03el opened #249 "Skip Qt 4 support"
Is there anything currently stopping us from skipping Qt 4 support? It would be nice to get rid of that, since it makes it harder to develop when you're constrained to things that has to work in Qt 4. Yes, there are workarounds for QJsonValue (parseJson() using QScriptEngine) and and QUrlQuery (with ifdefs), but there is currently no way to serialize QVariant to JSON.

[2017-01-08 19:24] leppa commented on #249
Three things: Symbian, Meego Harmattan (Nokia N9), and BlackBerry 10. Although, there was Qt 5 build for BlackBerry 10, there is no Qt 5 support for the other two.

[2017-01-09 21:03] mikaelelf commented on #247
Additional info: when using the same ver nr of fahrplan on Harmattan, it behaves in the same way as symbian. However updating this version to latest (2.28, not available for symbian ) resrobot.se works.

[2017-01-09 21:06] leppa commented on #247
My fault. I completely forgot to build and upload 2.0.28 to AppList. Will try to do it this week.

[2017-01-09 21:10] f03el commented on #247
Aha, that's probably the explanation then. ResRobot changed their API earlier this year, and support for that was fixed in Fahrplan 2.0.28.

[2017-01-09 21:26] leppa commented on #247
I just built and uploaded 2.0.28 to AppList.

@mikaelelf, can you try now?

[2017-01-09 21:33] mikaelelf commented on #247
sorry, doesn't change anything :(

[2017-01-09 21:39] f03el commented on #247
@mikaelelf This is a bit of a long-shot, but just to be able to rule out #212, could you go to https://api.resrobot.se/v2 in the Symbian web browser? You should get a 404 error, but if you get some kind of certificate error, then that could be the problem with Fahrplan.

[2017-01-10 01:02] mikaelelf commented on #247
with opera mini a 404 error, with nokia browser "webbrowser cannot connect to the web site".

[2017-01-10 01:54] mikaelelf commented on #247
![screen8](https://cloud.githubusercontent.com/assets/17519744/21790956/ec63f2e6-d6df-11e6-9c8f-477af5df1614.jpg)

[2017-01-10 13:22] leppa commented on #247
Opera Mini uses Opera's servers to download and render the page, so it might still work there.

Can you open other websites with Nokia Browser?

If yes, then it might be missing root certificate in Symbian Certificate Store.
Or it could be that ResRobot uses protocols/ciphers which are not supported by Symbian.

[2017-01-10 13:25] leppa commented on #247
Can you open this page: https://ssltest11.bbtest.net/ in Nokia Browser?

It uses the same Root CA certificate as ResRobot.

[2017-01-10 14:26] mikaelelf commented on #247
![screen10](https://cloud.githubusercontent.com/assets/17519744/21809682/13d823e2-d749-11e6-9d70-afdf7586bb7e.jpg)

Looks like this in Nokia Browser.

[2017-01-10 14:41] leppa commented on #247
Looks Ok. Then it might be some Symbian-ResRobot incompatibility.

I can see [here](https://www.ssllabs.com/ssltest/analyze.html?d=api.resrobot.se) that ResRobot uses (SNI)[https://en.wikipedia.org/wiki/Server_Name_Indication], which is not supported by Symbian. But you should have gotten an error that certificate doesn't correspond to the domain name, not just "cannot connect" error.

Does this p

[2017-01-10 14:58] mikaelelf commented on #247
Yes, looks about the same as the previous page. Though had to make an approval, a dialogue said: The service ssltest8.bbtest.net has sent a none reliable certficate. Accept anyway?

[2017-01-10 21:05] leppa commented on #247
Ok, I undusted my old Symbian phone and checked: it's SNI issue. We're aborting SSL connection because of hostname mismatch. This can be ignored for ResRobot parser by Fahrplan and should fix the issue. I'm making a fix.

[2017-01-10 21:21] mikaelelf commented on #247
Great to hear, thanks for you work 😁! Fahrplan is about my most important app. Even the wayfinder (which had a public transport part built in) in googles map app stopped working some months ago.

[2017-01-10 21:27] #247 closed

[2017-01-18 04:14] mikaelelf commented on #247
just one question: Will this fix show up in a later  update or will we see a specific symbian update on app list?

[2017-01-18 08:16] The-Kitchen-Sink opened #250 "Symbian - PTV (Victoria, Australia) searches not working"
Searches using the PTV http://ptv.vic.gov.au/ provider do not appear to be working in the 2.0.28 Version of fahrplan - (the earlier version didnt work either but i noticed applist had an update and updated to see if that would fix the problem)

any search ends up with a "no results found" error and while typing in new station names no autocomplete results appear either.

Im running Fahrplan on a N

[2017-01-18 09:15] smurfy commented on #247
I will have a look, we can do a symbian only update but i will have a look if there are other bugs around. I plan to do the release early next week.

[2017-01-18 09:16] smurfy commented on #250
Thanks for the report, i will have a look

[2017-01-18 09:27] f03el commented on #247
@smurfy FYI I'm working on an update to the Matka.fi backend because they are changing their API. Will try to have it finished before next week then.

[2017-01-18 09:58] leppa opened #251 "HTTP error handling"
We don't seem to have any HTTP error handling in Fahrplan. E.g., if request fails, it just silently fails, and user only gets empty results page. I think we should handle and display these errors. This would also help with initial analysis when we get a bug report about some backend not working.

[2017-01-18 10:14] leppa commented on #247
@f03el, can you open a bug for this? I just created a 2.0.29 milestone and will assign your bug to it, so we can track the next release.

[2017-01-18 10:38] leppa commented on #250
Looks like API endpoint (http://jp.ptv.vic.gov.au/ptv/) is no longer there. Either we have to find a correct one, or we can only remove the service.

[2017-01-18 10:48] The-Kitchen-Sink commented on #250
Seems they have got a new version of the API out V3.0 replacing V2.3

https://www.ptv.vic.gov.au/about-ptv/ptv-data-and-reports/digital-products/ptv-timetable-api/

A migration guide is here

https://static.ptv.vic.gov.au/PTV/PTV%20docs/API/1476929813/PTV-Timetable-API-V2-to-V3-migration-guide.PDF

and the full API info is available via the main page but does contain this info

You can access the

[2017-01-18 11:16] f03el opened #252 "Add support for new matka.fi API"
The Finnish travel planner matka.fi are replacing their current API, see http://developer.matka.fi/pages/en/home.php. The new API is documented at https://www.digitransit.fi/en/developers/. They write that the old API should be closed down at the end of 2016, but it still seems to work. Since it can stop working anytime now, the Fahrplan backend should be updated as soon as possible.

[2017-01-18 11:17] f03el commented on #252
I'm working on it but don't know how to assign myself to this issue.

[2017-01-18 11:18] f03el commented on #247
@leppa Nice, see #252.

[2017-01-23 09:21] smurfy commented on #250
The old endpoint uses the EFA api. It seems the new journey planner still uses it (the request params are still the EFA names) But as we use EFA XML we need to check if we still can get XML responses.

If this fails, we probably need to switch to the official api.

[2017-02-16 18:13] malinkb opened #254 "Both manual and gps search stopped working for backend reiseinfo.no / nri"
When searching for a station manually or with gps, no results at all is present. I first noticed this issue early in january 2017.
As I don't have access to the reiseinfo.no / nri api, I can't confirm if this is because of api changes.

I am running SailfishOS 2.0.5.6 (Haapajoki) and fahrplan version 2.0.28

The terminal output from fahrplan is:

[nemo@Sailfish ~]$ harbour-fahrplan2
[D] main:82 -

[2017-02-19 16:46] malinkb commented on #254
There is an android-app, using the same api, and the api has changed. So this might be the changes needed to make the backend reseinfo.no /nri to work again.

https://github.com/RobertSasak/norgesruter.no/commit/d8342cf90338f438e891a6343a785fcf30132fb7

[2017-02-25 19:28] f03el commented on #249
Regarding serializing QVariant to JSON, it's coming with PR #253, since I needed that for the new Finnish API.

[2017-03-08 16:16] monkeyisland1992 opened #255 "Stations summarize?"
Hi is it possible to summarize Station with the same name.
Because by my home there are multiple Stations with the same name.
The only thing is one station is only for busses and the other for trams.
And the stations are dividet in the directions...
as example :  two listings for each direction  1. in the city 2. out the city
one listing with all directions and busses and trams will be great !!
[]

[2017-03-08 18:05] #252 closed

[2017-03-08 18:21] smurfy commented on #254
Currently used Backend is no longer available.
Possible alternativ backend would be adapting the rest-api used by norgesruter.no

[2017-03-08 18:23] smurfy commented on #251
There are some ways to display errors, but most of the time we silently fail, regardless of error, http or otherwise.

[2017-03-08 18:33] smurfy commented on #255
I will check, but this is related to different types of the station (place, stop ...) i will check

[2017-05-24 08:11] mikaelelf commented on #248
This is still true!

[2017-05-28 19:39] mikaelelf commented on #247
Is it far to go before a symbian update ?

/mikael

[2017-07-03 06:07] mikaelelf opened #256 "[symbian ^3] No services in Sweden works anymore"
From last week vasttrafik.se has stopped working. Earlier (januari) resrobot.se stopped working. AFAIK there should be a fix ready for resrobot but not yet implemented. The message when trying to use vasttrafik.se is "No results".

[2017-07-03 11:49] smurfy commented on #256
which version do you use?

[2017-07-03 12:09] mikaelelf commented on #256
The available one on applist which is 2.0.28

[2017-07-03 16:27] smurfy commented on #256
Please try 2.0.29
i attached the symbian version to the tag on github:

https://github.com/smurfy/fahrplan/releases/tag/2.0.29

[2017-07-03 17:04] mikaelelf commented on #256
In fact, this makes resrobot.se to work, which is great! Vasttrafik.se is still non-responsive.

[2017-08-11 07:55] Nokius opened #257 "[backend] VBB (VBB Verkehrsverbund Berlin-Brandenburg GmbH)"
I was checking the [VBB](vbb.de) Webpage today to find some information about contraction work.
So I spotted by accident that they offer now a API for Developers.

The have bunch of criteria not sure if they will support fahrplan

but may this could be for the Berlin area a way to not hijack the bahn webview

More about it [here](http://www.vbb.de/de/article/fahrplan/webservices/schnittstellen-fue

[2017-08-20 01:04] rodneyrod opened #258 "Sydney transport plugin (transportnsw.info) no longer listing stations"
It appears something is broken on the backend.

Consequently, transportnsw.info recently changed to a real time trip planner. Could that be causing the issue?

[2017-08-23 15:01] Qiangong2 opened #259 "webos?"
How hard would it be to port Fahrplan to webos?

[2017-08-23 15:09] smurfy commented on #259
Well, i do not have a webos device and probably not the time to do it, but if there is a working qt4 or qt5 for webos, it should be mainly qml work to get the gui part working.

[2017-08-25 18:37] Qiangong2 commented on #259
We have QT5 available for webos

[2017-08-25 19:02] smurfy commented on #259
If you like you can give it a try.

[2017-10-12 18:58] Thaodan commented on #108
any updates on this?

[2017-10-13 07:38] ljo commented on #108
I could have a look at this, but probably not before week 45 (second week of November).

[2017-10-15 04:49] Thaodan commented on #108
I think the limit is the space, a good way to use this would be display eventual delays if possible or the next stop in the round where switch train/vehicle is needed.

[2017-12-08 18:47] smurfy opened #262 "bahn.de broken"

[2017-12-08 20:17] #262 closed

[2017-12-20 08:26] suden200 opened #263 "fahrplan doesn't work in Germany"
The app fahrplan doesn't work in Germany. No contact to the server of Deutsche Bahn. The app not suggests any cities.  It's not possible to enter cities or Lacations in the app.

[2017-12-20 08:42] leppa commented on #263
What version of Fahrplan do you have? bahn.de was fixed in 2.0.31.

If you use AppList, then check for updates. I've uploaded a new version there this morning.

[2017-12-20 08:47] suden200 commented on #263
Hallo, I have version 2.0.27 on my Ubuntu Touch phone. I checked for new versions this time. In the Open Store is no version 2.0.31 avalible.

[2017-12-20 08:50] leppa commented on #263
Ah, I see.
@mzanetti and @krnekhelesh were maintaining Ubuntu Touch version, if I'm not mistaken. Guys, can you upload a new release there?

[2017-12-20 08:51] leppa commented on #263
Duplicate of #262, but keep open until Ubuntu Touch version is released.

[2017-12-21 18:19] dayrover commented on #263
I contacted Michael Zanetti and he is no longer working on Fahrplan for Ubuntu Touch.
Since I use Fahrplan myself I will take over this work.
I'm currently testing 2.0.31 on Ubuntu Touch an although getting timetable from bahn.de now works again it is still not possible to search for a station.

I assume this is a general problem with the patch for #232 as I am getting a 'Parse error: Request time

[2017-12-21 18:22] smurfy commented on #263
main change is use https. maybe this causes the problem?. not sure why this is related to #232

[2017-12-21 18:30] dayrover commented on #263
The https: timetable queries seem to work, just the station queries are not working. Looking at the the code the is an XML 'hafa' request.
Do you have an an example of a working query?

[2017-12-21 18:43] smurfy commented on #263
Req:
[code]
Resp:
[code]

[2017-12-21 19:13] dayrover commented on #263
Thanks!

A wget direct on the phone work. For example:
wget  --post-data='<?xml version="1.0" encoding="UTF-8" ?><ReqC accessId="" ver="1.1" prod="String" lang="EN"><MLcReq><MLc n="Lilienweg" t="ST" /></MLcReq></ReqC>' --header='Content-Type: text/xml' https://reiseauskunft.bahn.de/bin/query.exe

Looks like i will have to add some debuggers to the 'mobilebahnde' parse to see why is failing on my U

[2017-12-22 00:16] balcy commented on #263
I can confirm this problem, I've built the version 2.0.31 as well, and for some reason the request does not work on the phone (BQ Aquaris 4.5) with Qt 5.4.1, even if curl (in libertine) on the same phone works.
I've built an example Qt-commandline-app that just does the post with QNetworkAccessManager.  The "finish" signal was not seen at all.
The strange thing: in a chroot with the same Ubuntu /

[2017-12-22 22:40] balcy commented on #263
If you try to do the POST in an QML app, there is the same problem:
`

         Button {
         onClicked: {
         var http = new XMLHttpRequest();
         var url = "https://reiseauskunft.bahn.de/bin/query.exe";
         //var url = "https://wikipedia.org";
         var data = '<?xml version="1.0" encoding="UTF-8" ?><ReqC accessId="" ver="1.1" prod="String" lang="EN"><MLcReq><MLc n="Zurich"

[2017-12-22 22:49] smurfy commented on #263
hm you can play with http headers like ``Connection: Close``  or  downgrade to http 1.0 to tests.
Its quite strange the problem, since https on other sites work.

[2017-12-24 01:11] balcy commented on #263
"Connection: Close" and the other URL show the same effect, the downgrade 1.0 I have not tried / found yet.
@dayrover mentioned the timetable works, I've not tested this yet.
Today there was a community update of UBPorts, they've announced that all Ubuntu phones will be moved from Ubuntu 15.04 to 16.04, this could maybe solve the problem.

[2017-12-24 14:24] suden200 commented on #263
My information is that the BQ's not will be move to 16.04 because of the "old" hardware.

But only for information: The app "fahrplan" works without problems till 4 weeks ago. Then from one day to the next day the connecting to bahn.de was failed. Something must be changed at this time.

Sorry, my technical English is not very good, so I can't understand all statements in this treads...

[2017-12-24 20:27] balcy commented on #263
yeah that's brand new info of yesterday, they cannot move to a new kernel on BQ, and systemd requires a new kernel, but they will use upstart instead, and offer 16.04 for all phones (I was positively surprised, too). The thing is, with http it always worked without problems (like with oebb.at which still works)
Maybe the problem with https was already present on the phone, but until Dec. it was no

[2017-12-24 20:52] smurfy commented on #263
maybe its SNI or another ssl related problem.  On sailfish and on windows desktop test app it works just fine. (tested on windows with Qt 5.4.1)

[2017-12-25 08:31] balcy commented on #263
I suspect backend issue with bahn.de here. the following is the output of wget on debian testing: [https://pastebin.com/3ZcGBtX2](https://pastebin.com/3ZcGBtX2)
After the response is sent, it says Read error at byte 380 (The TLS connection was non-properly terminated.).Retrying.

[2018-01-03 12:13] dayrover commented on #263
Let me summaries what https requests orks and what do not since http can no longer be used:

Station search (HAFA XML)
 https://rabdc.bahn.de/bin/query.exe/dn WORKS
 https://reiseauskunft.bahn.de/bin/query.exe FAILS  Read error  (The TLS connection was non-properly terminated.)

Station Timetable (HAFA XML)
 https://rabdc.bahn.de/bin/mobil/bhftafel.exe/en WORKS
 https://mobile.bahn.de/bin/mobil/bh

[2018-01-03 12:28] dayrover commented on #263
I've built a version 2.0.32 which I will push to the OpenStore today so people can use / test it.

This uses 'https://rabdc.bahn.de/bin/mobil' for XML and 'https://reiseauskunft.bahn.de' for the Binary requests. With this combination all Fahrplan quiries for on my Ubports OTA 3 Phone.
@balcy Where do the 'rabdc.bahn.de' URLs come from? Do you know what offical purpose they serve?

[2018-01-03 12:37] dayrover commented on #263
Because Michael Zanetti is no longer supporting Version 2.0.32 is packaged with name
"de.michael-stevens.fahrplan2" so it won't be offered as an upgrade. You will have to search for it in the OpenStore. Also the Settings from the previous version will not be used so you will have to redo your favourite or manually copy them over. To do this copy 'fahrplan2.conf' from '.config/com.ubuntu.developer.

[2018-01-03 13:02] dayrover commented on #263
OK i've published it as version 2.0.33. I couldn't reuse version 2.0.32 and versions like '2.0.32_openstore' seem to require a review!

[2018-01-03 13:03] smurfy commented on #263
@can you provide a PR plz?

[2018-01-03 13:06] dayrover commented on #263
On question for anyone familiare with the new Ubports 'clickable' build tool. When building from the 'fahrplan2.pro' file 'CONFIG += ubuntu' needs to be specified. Anyone know if this can be specified on the clickable command line or in the json configuration?

[2018-01-03 14:08] suden200 commented on #263
Hey, thank you for this new version of fahrplan2!! I've installed it just this morning from the OpenStore and it works great!!
Thanks to all peoples they helped to find a solution! You make a very good job!!
Greetings

[2018-01-03 22:20] balcy commented on #263
actually found this by chance, so I don't know the official purpose of the url. Actually I was preparing a release myself that uses curl for the bahn.de urls. This was also tested successflly by some members of the Ubports (German) telegram group: https://github.com/balcy/fahrplan

[2018-01-04 07:26] balcy commented on #263
What I'm not sure of is, if the new URLs work for other (Ubuntu) versions as well, that's why I used curl instead.
One thing I would do: Instead of including the maintainer in the app ID, i think it is better to use e.g. "fahrplan2.openstore", that would make future maintainer changes easier for the users: Open Store admins can transfer the ownership, and the app ID stays the same.

[2018-01-04 14:59] dayrover commented on #263
Balcy, your curl fix looks a lot better then using the radbc.bahn.de URLs!

I think the non personalised app ID is a good idea. I gave tried out pushing my 2.0.33 version with the ID 'openstore.fahrplan2' and open store accepted it.
I would suggest I drop my PR which uses the radbc.bahn.de URLs and you make a PR with your libcurl workaround. We would need to bump to version 2.0.34 to publish it to

[2018-01-04 15:03] smurfy commented on #263
i'm fine with it. can you try using 2.0.33-1  or even better 2.0.32-1 as version?

[2018-01-04 16:15] dayrover commented on #263
I've merge balcy/fahrplan master and managed to build this with 'clickable'.
For this you need to update 'clickables' docker container with.

- docker run -i clickable/ubuntu-sdk:15.04-armhf bash
-- In the container: apt install libcurl4-gnutls-dev:armhf
- docker commit <container name> clickable/ubuntu-sdk:15.04-armhf

'balcy' 'ubuntuBuildWithContainer.sh' requires a ../../click_build, so I have

[2018-01-04 16:33] dayrover commented on #263
I've pushed Version '2.0.32-2' to the OpenStore using the 'openstore.fahrplan2' app ID. I had already 'burned version '2.0.32-1'. The OpenStore does not allow you to update the click file even if you never published that version!

Chris we should decide who should continue to maintain on OpenStore. I not too fussed. OpenStore has picked you up as the author. Not sure where it got the info since I

[2018-01-04 18:57] balcy commented on #263
sorry was in train the most part of the day . ) Glad my solution was helpful, and that you took care of the merging... I'm fine with being maintainer as well.
For the manifest.json : I've made it so that it is created from manifest.json.in during qmake, but did not take clickable into account, which expects manifest.json to be present, I try correcting that soon.

[2018-01-05 08:59] balcy commented on #263
@dayrover I've thought about it : You have been the first who has contacted M. Zanetti and offered to be a maintainer, and also have put work into it, so if you don't mind let's stick with your already uploaded package.
It will properly display you as maintainer if you replace 'Chris Clime' with your name on the fahrplan2.pro file (right under the app id). This will generate a manifest.json with y

[2018-01-05 09:03] balcy commented on #263
for the clickable topic (provide qmake params) B. Douglass has said it would be a good feature to have clickable.json support that, but right now he recommends to use a custom template for that.

[2018-01-05 16:24] balcy commented on #263
I think the manifest.json was a hen/egg problem: It is created by qmake, but only if CONFIG+=ubuntu is set by clickable.
I cannot test right now on docker, but send an update about it tomorrow.

[2018-01-06 18:10] balcy commented on #263
ok got it running with docker, I have made a clickable.json file
`{
  "dir": "click_build",
  "arch": "armhf",
  "chroot": false,
  "template": "custom",
  "build": "bash -c 'cd .. ; qt5-qmake-arm-linux-gnueabihf CONFIG+=ubuntu clickBuildFolder=click_build; make clean ; make install'",
  "dependencies": [ "libcurl4-gnutls-dev" ]
}
`
, and adapted the deployment.pri and fahrplan2.pro file.

the ada

[2018-01-10 21:51] dayrover commented on #263
I Balcy. Thanks for the build fixes.
As you suggested I will continue as the maintainer. I don't think we need a new release with the merged build changes as the v2.0.32-2 build in the OpenStore works fine. It has already been download 139 times!

[2018-01-13 11:40] smurfy commented on #263
Thank you guys for your efforts, i will close this issue now.
Also i think the curl workaround is also necessary on symbian. since i do not have a symbian device i'm currently looking for a way to test.

[2018-02-03 10:39] mikwebdev opened #267 "Error message on backend "resrobot.se" station departures search"
[Affected versions]:
- 2.0.31

[Affected platforms]:
- Nokia N9 Meego Harmattan

[Steps to reproduce]:
1. Select backend "resrobot.se".
2. Open station departures tab.
3. Choose station. For example, "Lund Centralstation".
4. Choose direction. For example, "Lund Lundagård".
5. Click "Show departures" button.

[Expected result]:
- A list of departures is shown with time, train number and destinatio

[2018-02-07 20:12] balcy commented on #243
Hi I wanted to say that I've written a backend for Transport for London based on api.tfl.gov.uk
Station search (by name and GPS) and journeys (with various transport types) should be fine already.
For the timetable I used the "Live arrivals" API. Therefore you cannot search for departures / arrivals at other times than the current time, and departures from terminal stations do not work.
For other

[2018-03-01 20:59] balcy commented on #243
https://github.com/smurfy/fahrplan/pull/268

[2018-03-17 17:26] balcy commented on #263
no symbian device here : (
@dayrover: is it ok if I send you an updated click package that includes Transport for London support?

[2018-03-17 17:28] balcy commented on #243
@dayrover, @smurfy I would like to make TFL available on Ubuntu touch.

[2018-04-01 07:12] balcy commented on #243
The feature is now available for Ubuntu Touch: https://open-store.io/app/openstore.fahrplan2 @dayrover thanks for uploading.

[2018-05-01 17:42] mbpilotuser commented on #13
Hi Smurfy,
do you have any news about this feature? This would be very nice!
Thanks

[2018-06-01 01:45] Thaodan commented on #17
Can you add this for sailfish?

[2018-10-27 17:37] Pohli opened #270 "Directly refresh connection results"
A refresh button on the connection results page would be nice instead of going back to journey planner and forth again. Useful if one wants to update information about delay etc.

[2018-11-02 22:55] Pohli opened #271 "option to hide and/or clear search results on Select station page"
When looking for a new connection the search results of the previous connection lookup are still there on the Select station page. To access my favorite stations I have to scroll down every time (select departure, destination, via). So there should be a quick possibility to hide or clear the search results, or both (please no pulley menu for that).

[2018-12-10 23:36] f03el commented on #267
@mikwebdev Thank you for reporting this. I'll have a look at it ASAP.

[2018-12-11 16:38] mikwebdev commented on #267
@f03el Thank you. Much appreciated as I still use Fahrplan on my Nokia N9 regularly.

[2018-12-11 19:23] f03el commented on #267
The reply from the server is just an empty JSON object (i.e. `{}`) when the direction station is not part of any route from the departure station. Would it make more sense to just show an empty result list instead of the error message?

[2018-12-11 21:24] mikwebdev commented on #267
Yes, an empty result list is much better than an loading squircle and error message.

With constant loading squircle and error message it gives the impression that something is technically wrong. Maybe change error message to something like "No departures found." or "No results found." and stop the loading squircle?

I have attached an error message from rejseplanen.dk. Maybe do something similar?

[2018-12-11 21:55] f03el commented on #267
OK, I think an empty result list is the only possible solution in this case. There is no way we can know whether the reply is empty just because there simply are no departures from that station at the time, or because the user has selected a "bad" combination of station and direction. If you want to test a bus stop with no departures, try "Granträskvägen (Lycksele kn)" in the weekend. :)

The back

[2018-12-11 22:05] mikwebdev commented on #267
Ok, I understand. I'm fine with an empty list, as long as loading squircle and error message doesn't show.

[2020-05-01 09:12] 22simnic opened #276 "Germany - an error ocurred with the backend"
Is there anyone else who uses Fahrplan on Symbian devices?
I like to use the app very much and often on my Nokia N8. But unfortunately I don't get access to the sources for over a month and it appears "an error ocurred with the backend". Is this a problem on my phone or was something changed externally? In my family 4 people are using this phone because all the important functions are available. W

[2020-05-15 15:48] Pohli commented on #276
Can't help but it's probably not your phone cause I have the same issue on my Jolla Phone and others are reporting the same in the Jolla Store.

[2020-06-01 08:49] Pohli commented on #276
@smurfy: Hey, is Fahrplan abandoned? It's very essential for us. Please give us a sign at least!

[2020-06-22 11:03] Amiga2k commented on #276
Hi,
I have the same problem. I'm using this app regularly. I hope to see a update to fix this. Nevertheless I'm thankful for the long time this app worked... :)

[2020-08-19 08:22] rom4nb opened #277 "Transport connection results not shown properly in Darkmode #UbuntuTouch"
### Description

When Ubuntu Touch is set to dark mode, the results of a transport search are shown with white characters on a light-grey background. The results are hardly readable.

### Steps to Reproduce

- Activate dark mode of Lomiri in Ubuntu Touch (with UT Tweak Tool)
- Search any transport connection with Fahrplan.

**Expected behavior:** The white characters of the result should be shown

[2021-03-05 09:45] poetaster opened #278 "3.4 segfaults."
Sailfish, of course. Looks like end of the line.

Time to fork? I'm going to pick this apart for a sailfish build.

[2021-03-08 16:40] poetaster commented on #278
I just did a compile without any changes using the 3.4 SDK. All's well. Just works.

If you'd like I can take of maintaining?

[2021-03-08 16:42] smurfy commented on #278
Does it work with older versions too or does it needs two builds?

I updated my other half to 3.4 now. but need to install all my sdk's again.

[2021-03-08 18:04] poetaster commented on #278
I believe it stopped working on 3.4. Installing the sdks is indeed a pita. I've only got, currently, one device and it was flashed directly to 3.4. I can try to get my fp2 running with, 3.3 for instance. have to ask mal for an image.

My compile had only the bahn.de backend (great for me :) enabled.

[2021-03-08 18:24] poetaster commented on #278
Ah, in the comments under: https://openrepos.net/content/smurfy/fahrplan-0
I see that some started having problems with calendar adding: Smurfy, please fix the issue with adding journeys to the calendar. It appeared when I updated the Sailfish OS to version 3.3.0 (Rokua).

But one other user notes the segfaults as of 3.4.

[2021-03-09 11:54] poetaster opened #279 "Since 3.3 (it appears) adding to calendar doesn't work."
This is coming from other users (I've never had calendar support on 3.4) via  openrepos:

"Smurfy, please fix the issue with adding journeys to the calendar. It appeared when I updated the Sailfish OS to version 3.3.0 (Rokua).
That is/was a awesome feature..."

[2021-03-09 11:57] smurfy commented on #279
Implementation was quite tricky, also it was not in "official", store approved api, thats why only openrepos variant had it.

Needs looking into possible new api and store support.

[2021-03-09 16:28] poetaster commented on #278
Ah, in the comments under: https://openrepos.net/content/smurfy/fahrplan-0
At least one other user notes the segfaults as of 3.4.

Some users at: https://forum.sailfishos.org/t/fahrplan-2-0-32-2/5388/4

mention that the old compile works for them under 3.4 and 4 ... I've asked if it was the openrepos or jolla compile

[2021-03-18 06:37] C0n57an71n opened #280 "[resource request] Add Romanian Train Table"
Hi, would be possible to add somehow the Romanian Train Table to Fahrplan? I found this, in case it helps: https://github.com/vasile/data.gov.ro-gtfs-exporter
Thanks!
Constantin

[2021-05-29 13:27] ruedigerkupper commented on #263
All seems to work fine (Ubuntu Touch). Is there a reason this issue is still open?

[2021-05-29 13:33] ruedigerkupper opened #281 "Time and date selection behaves strangely"
Date selector always starts at jan 1 of the current year. It should start at the current date.

Selecting hour in time selector makes minutes jump.

This is on Ubuntu touch, v 2.0.33-4

[2021-05-29 19:44] patrickjane opened #282 "SFOS 4 support?"
Do you plan an update for SFOS 4? I don't know if its me, but on my XA2 the app will install but not launch.

On my 10ii it even cannot be installed, likely because of aarch64.

[2021-08-29 23:07] Olf0 commented on #278
Just curious: Is this still being addressed, or at least analysed?

Note that varying compilation results with different build environments (e.g., a freshly installed SFOS-SDK vs. one used for long) might be a consequence of what [Pull Request 273 "Add missing build dependencies"](https://github.com/smurfy/fahrplan/pull/273) addresses.

P.S.: @smurfy, there are [a couple of other PRs](https://gith

[2021-10-07 08:49] poetaster commented on #282
Builds fine using SDK. I did a build on obs but that's a bit messy. In the main, I added a spec file and some buildrequires. not sure the translaitons build properly on obs. I removed the translations_res requirement and it built.

[2021-11-04 09:10] luchmhor opened #283 "ÖBB Backend broken?"
I tried to switch from the German DB backend to the Austrian Backend (ÖBB) because Austrian Busses are not listed in the German backend. But the search for stations gives no results.
I checked the URL in the backend and it seems to be fine: http://fahrplan.oebb.at/bin/query.exe

Can anyone verify?

[2021-11-12 21:28] henk84 opened #284 "SBB backend error: Error parsing reponse from the server: unexpected character"
Hi

I noticed two issues with the (unofficial?) build for aarch64:
using the SBB.ch backend I get an error saying:

I’m assuming the SBB API might have changed or gotten removed. #226 mentions an alternative backend that might be more reliable (ISTR that the SBB API is not official or not intended for public use).
(the second issue is s/reponse/response/ in the error message)

Can you please look

[2022-01-05 20:17] soulsource commented on #283
I can confirm that issue. Log output is:
[code]

[2022-01-05 21:17] soulsource commented on #283
Actually the URL has changed.
[code]

The key point is https. I'll make a pull request.

[2022-01-05 21:41] soulsource commented on #283
However there might be more amiss. It worked when I tried it an hour ago, but now I get `unknown connectionDetailsVersion` for some connections, with a connectionDetailsVersion of 5 (while the app only accepts version 1).

While I don't know what drawbacks it has, I've now switched from HAFASBinary to HAFASXml in the same Pull Request. This seems to work around that incompatibility.

[2022-01-23 12:26] dyraig opened #286 "Dutch 9292.nl backend no longer working"
Recently (since start of the year?), the Dutch 9292.nl backend stopped working. Trying to get a journey, the error message "Cannot parse reply from the server" is displayed and searching for locations no longer works.

When running from the command line and try to get the journey, I get:

[D] unknown:0 - Using  "en_GB"  locale
[D] unknown:0 - Startup
[D] unknown:0 - QML
[D] unknown:0 - Using Wayla

[2022-02-16 17:24] unsanded commented on #286
The respnonse from the server is a html page saying "error 404". They (9292) disabled the api. Now we have to parse an html. I'll have a look at it.

[2022-03-14 11:09] poetaster commented on #282
I'm moving this to obs/chum to make it available. my fork with minimal mods ist at https://github.com/poetaster/fahrplan